USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Guardian_GetByPersonID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Get By PersonID
CREATE PROCEDURE [dbo].[sp_Guardian_GetByPersonID]
    @PersonID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Guardians
    WHERE PersonID = @PersonID;
END
GO
