USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Guardian_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Insert
CREATE PROCEDURE [dbo].[sp_Guardian_Insert]
    @PersonID INT,
    @Jobs NVARCHAR(50),
    @Notes NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Guardians (PersonID, Jobs, Notes)
    VALUES (@PersonID, @Jobs, @Notes);

    SELECT SCOPE_IDENTITY() AS NewGuardianID;
END
GO
