USE [SchoolDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalculateAnnualGrade]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalculateAnnualGrade]
(
    @StudentID INT,
    @SubjectID INT,
    @AcademicYearID INT
)
RETURNS DECIMAL(5,2)
AS
BEGIN
    DECLARE @TermSum DECIMAL(5,2) = 0;
    DECLARE @TermCount INT = 0;

    -- جمع درجات الفصول ضمن السنة الدراسية
    SELECT 
        @TermSum = ISNULL(SUM(TermGrade),0),
        @TermCount = COUNT(*)
    FROM (
        SELECT dbo.fn_CalculateTermGrade(@StudentID, @SubjectID, StartDate, EndDate, @AcademicYearID) AS TermGrade
        FROM ExamPeriods EP
        WHERE EP.AcademicYearID = @AcademicYearID
          AND ExamTypeID IN (SELECT ExamTypeID FROM ExamTypes WHERE ExamTypeName = 'ترمي')
        GROUP BY EP.StartDate, EP.EndDate
    ) AS TermGrades;

    RETURN CASE WHEN @TermCount > 0 THEN @TermSum / @TermCount ELSE 0 END;
END;

GO
