USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Subject_GetByStageID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Subjects By StageID
CREATE PROCEDURE [dbo].[sp_Subject_GetByStageID]
    @StageID INT
AS
BEGIN
    SELECT * FROM Subjects WHERE StageID = @StageID ORDER BY SubjectName;
END
GO
