USE [SchoolDB]
GO
/****** Object:  View [dbo].[vw_UpcomingInstallments]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_UpcomingInstallments] AS
SELECT 
    i.InstallmentID,
    i.StudentFeeID,
    sf.StudentID,
    -- جمع أسماء الطالب مع مسافات بينهم
    RTRIM(LTRIM(
        ISNULL(p.FirstName, '') + ' ' +
        ISNULL(p.SecondName, '') + ' ' +
        ISNULL(p.ThirdName, '') + ' ' +
        ISNULL(p.LastName, '')
    )) AS FullName,
    i.DueDate,
    i.Amount,
    i.IsPaid
FROM StudentFeeInstallments i
JOIN StudentFees sf ON sf.StudentFeeID = i.StudentFeeID
JOIN Students s ON s.StudentID = sf.StudentID
JOIN Persons p ON p.PersonID = s.PersonID
WHERE i.IsPaid = 0 
  AND i.DueDate > GETDATE();
GO
