USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[ps_GetAvailableRoomsAtTime]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ps_GetAvailableRoomsAtTime]
    @CheckTime TIME,
    @CheckDay NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Rooms
    WHERE IsAvailable = 1 
      AND IsReservable = 1
      AND RoomID NOT IN (
          SELECT RoomID
          FROM Schedules
          WHERE DayOfWeek = @CheckDay
            AND @CheckTime BETWEEN StartTime AND EndTime
      );
END;
GO
