USE [SchoolDB]
GO
/****** Object:  Table [dbo].[AcademicYears]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademicYears](
	[AcademicYearID] [int] IDENTITY(1,1) NOT NULL,
	[AcademicYearName] [nvarchar](50) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AcademicYearID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AcademicYears] ON 

INSERT [dbo].[AcademicYears] ([AcademicYearID], [AcademicYearName], [StartDate], [EndDate]) VALUES (1, N'2010-2011', CAST(N'2010-09-01' AS Date), CAST(N'2011-06-30' AS Date))
INSERT [dbo].[AcademicYears] ([AcademicYearID], [AcademicYearName], [StartDate], [EndDate]) VALUES (2, N'2011-2012', CAST(N'2011-09-01' AS Date), CAST(N'2012-06-30' AS Date))
INSERT [dbo].[AcademicYears] ([AcademicYearID], [AcademicYearName], [StartDate], [EndDate]) VALUES (3, N'2012-2013', CAST(N'2012-09-01' AS Date), CAST(N'2013-06-30' AS Date))
SET IDENTITY_INSERT [dbo].[AcademicYears] OFF
GO
ALTER TABLE [dbo].[AcademicYears]  WITH CHECK ADD  CONSTRAINT [chk_Start_EndDate] CHECK  (([StartDate]<[EndDate]))
GO
ALTER TABLE [dbo].[AcademicYears] CHECK CONSTRAINT [chk_Start_EndDate]
GO
