USE [SchoolDB]
GO
/****** Object:  View [dbo].[vw_StudentFinalGrades]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_StudentFinalGrades] AS
SELECT 
    s.StudentID,
    p.FirstName + ' ' + p.SecondName + ' ' + p.ThirdName + ' ' + p.LastName AS FullName,
    st.StageName,
    sub.SubjectName,
    et.ExamTypeName,
    fg.Grade
FROM FinalGrades fg
JOIN Students s ON fg.StudentID = s.StudentID
JOIN Persons p ON s.PersonID = p.PersonID
JOIN Stages st ON fg.StageID = st.StageID
JOIN Subjects sub ON fg.SubjectID = sub.SubjectID
JOIN ExamPeriods ep ON fg.ExamPeriodID = ep.ExamPeriodID
JOIN ExamTypes et ON ep.ExamTypeID = et.ExamTypeID
GO
