USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Class_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete Class
CREATE PROCEDURE [dbo].[sp_Class_Delete]
    @ClassID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Classes WHERE ClassID = @ClassID;

    SELECT @@ROWCOUNT; -- عدد الصفوف المحذوفة
END
GO
