USE [SchoolDB]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](50) NOT NULL,
	[StageID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Notes] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([SubjectID], [SubjectName], [StageID], [IsActive], [Notes]) VALUES (1, N'اللغة العربية', 1, 1, NULL)
INSERT [dbo].[Subjects] ([SubjectID], [SubjectName], [StageID], [IsActive], [Notes]) VALUES (2, N'الرياضيات', 1, 1, NULL)
INSERT [dbo].[Subjects] ([SubjectID], [SubjectName], [StageID], [IsActive], [Notes]) VALUES (3, N'التربية الإسلامية', 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SubjectName_Stage]    Script Date: 8/21/2025 5:43:21 PM ******/
ALTER TABLE [dbo].[Subjects] ADD  CONSTRAINT [UQ_SubjectName_Stage] UNIQUE NONCLUSTERED 
(
	[SubjectName] ASC,
	[StageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Subjects] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD  CONSTRAINT [FK_Subjects_Stages] FOREIGN KEY([StageID])
REFERENCES [dbo].[Stages] ([StageID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Subjects] CHECK CONSTRAINT [FK_Subjects_Stages]
GO
