USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_RoomType_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








-- Insert RoomType
CREATE PROCEDURE [dbo].[sp_RoomType_Insert]
    @TypeName NVARCHAR(50),
    @Description NVARCHAR(250) = NULL,
    @IsActive BIT
AS
BEGIN
    INSERT INTO RoomTypes (TypeName, Description, IsActive)
    VALUES (@TypeName, @Description, @IsActive);

    SELECT SCOPE_IDENTITY();
END
GO
