USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Booking_GetByRoomID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Bookings By RoomID
CREATE PROCEDURE [dbo].[sp_Booking_GetByRoomID]
    @RoomID INT
AS
BEGIN
    SELECT * FROM Bookings WHERE RoomID = @RoomID ORDER BY BookingDate DESC, StartTime;
END
GO
