USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Guardian_ExistsByPersonID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Guardian_ExistsByPersonID]
    @PersonID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Guardians WHERE PersonID = @PersonID)
        SELECT 1;
    ELSE
        SELECT 0;
END
GO
