USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudentsEnrollmentCountInStage]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. عدد الطلاب المسجلين في مرحلة معينة (مع باراميتر المرحلة)
CREATE PROCEDURE [dbo].[sp_GetStudentsEnrollmentCountInStage]
    @StageID INT
AS
BEGIN
    SELECT COUNT(*) AS EnrollmentCount FROM Students 
    WHERE IsActive = 1 AND StageID = @StageID;
END
GO
