USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Exam_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update Exam
CREATE PROCEDURE [dbo].[sp_Exam_Update]
    @ExamID INT,
    @SubjectID INT,
    @TeacherID INT,
    @ExamDate DATE,
    @TakeDate DATE,
    @Grade SMALLINT,
    @MaxGrade SMALLINT,
    @ExamDocument NVARCHAR(255) = NULL,
    @Notes NVARCHAR(500) = NULL,
    @ExamPeriodID INT,
    @IsActive BIT
AS
BEGIN
    UPDATE Exams
    SET SubjectID = @SubjectID,
        TeacherID = @TeacherID,
        ExamDate = @ExamDate,
        TakeDate = @TakeDate,
        Grade = @Grade,
        MaxGrade = @MaxGrade,
        ExamDocument = @ExamDocument,
        Notes = @Notes,
        ExamPeriodID = @ExamPeriodID,
        IsActive = @IsActive
    WHERE ExamID = @ExamID;
END
GO
