USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_MonthlySalary_GetAll]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 5. Get all salary records
CREATE PROCEDURE [dbo].[sp_MonthlySalary_GetAll]
AS
BEGIN
    SELECT * FROM MonthlySalaries;
END
GO
