USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[Delete_Identifier]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. حذف معرف
CREATE PROCEDURE [dbo].[Delete_Identifier]
    @IdentifierID INT
AS
BEGIN
    DELETE FROM Identifiers
    WHERE IdentifierID = @IdentifierID;

    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
