USE [SchoolDB]
GO
/****** Object:  Table [dbo].[StageFeeItems]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StageFeeItems](
	[StageFeeItemID] [int] IDENTITY(1,1) NOT NULL,
	[StageID] [int] NOT NULL,
	[FeeTypeID] [int] NOT NULL,
	[AcademicYearID] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Description] [nchar](100) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StageFeeItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StageFeeItems] ON 

INSERT [dbo].[StageFeeItems] ([StageFeeItemID], [StageID], [FeeTypeID], [AcademicYearID], [Amount], [Description], [IsActive]) VALUES (1, 1, 1, 1, CAST(1110.00 AS Decimal(18, 2)), N'رسوم للمرحلة 1 ، النوع 1 ، سنة 1                                                                    ', 0)
INSERT [dbo].[StageFeeItems] ([StageFeeItemID], [StageID], [FeeTypeID], [AcademicYearID], [Amount], [Description], [IsActive]) VALUES (2, 1, 1, 2, CAST(1110.00 AS Decimal(18, 2)), N'رسوم للمرحلة 1 ، النوع 1 ، سنة 2                                                                    ', 0)
INSERT [dbo].[StageFeeItems] ([StageFeeItemID], [StageID], [FeeTypeID], [AcademicYearID], [Amount], [Description], [IsActive]) VALUES (3, 1, 1, 3, CAST(1110.00 AS Decimal(18, 2)), N'رسوم للمرحلة 1 ، النوع 1 ، سنة 3                                                                    ', 0)
GO
SET IDENTITY_INSERT [dbo].[StageFeeItems] OFF
GO
/****** Object:  Index [UQ_Stage_Fee_Year]    Script Date: 8/21/2025 5:43:21 PM ******/
ALTER TABLE [dbo].[StageFeeItems] ADD  CONSTRAINT [UQ_Stage_Fee_Year] UNIQUE NONCLUSTERED 
(
	[StageID] ASC,
	[FeeTypeID] ASC,
	[AcademicYearID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StageFeeItems] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[StageFeeItems]  WITH CHECK ADD  CONSTRAINT [FK_StageFeeItems_AcademicYear] FOREIGN KEY([AcademicYearID])
REFERENCES [dbo].[AcademicYears] ([AcademicYearID])
GO
ALTER TABLE [dbo].[StageFeeItems] CHECK CONSTRAINT [FK_StageFeeItems_AcademicYear]
GO
ALTER TABLE [dbo].[StageFeeItems]  WITH CHECK ADD  CONSTRAINT [FK_StageFeeItems_FeeTypes] FOREIGN KEY([FeeTypeID])
REFERENCES [dbo].[FeeTypes] ([FeeTypeID])
GO
ALTER TABLE [dbo].[StageFeeItems] CHECK CONSTRAINT [FK_StageFeeItems_FeeTypes]
GO
ALTER TABLE [dbo].[StageFeeItems]  WITH CHECK ADD  CONSTRAINT [FK_StageFeeItems_Stages] FOREIGN KEY([StageID])
REFERENCES [dbo].[Stages] ([StageID])
GO
ALTER TABLE [dbo].[StageFeeItems] CHECK CONSTRAINT [FK_StageFeeItems_Stages]
GO
ALTER TABLE [dbo].[StageFeeItems]  WITH CHECK ADD CHECK  (([Amount]>=(0)))
GO
