USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_MonthlySalary_GetTotalDeductionByEmployeePeriod]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MonthlySalary_GetTotalDeductionByEmployeePeriod]
    @EmployeeID INT,
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SELECT
        SUM(AbsenceDays * DeductionPerAbsent) AS TotalDeductions
    FROM MonthlySalaries
    WHERE EmployeeID = @EmployeeID
      AND SalaryMonth BETWEEN @StartDate AND @EndDate;
END
GO
