USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Employee_GetActive]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Active Employees فقط
CREATE PROCEDURE [dbo].[sp_Employee_GetActive]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM Employees WHERE IsActive = 1;
END
GO
