USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ExamType_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









-- Insert ExamType
CREATE PROCEDURE [dbo].[sp_ExamType_Insert]
    @ExamTypeName NVARCHAR(50),
    @Description NVARCHAR(255) = NULL
AS
BEGIN
    INSERT INTO ExamTypes (ExamTypeName, Description)
    VALUES (@ExamTypeName, @Description);

    SELECT SCOPE_IDENTITY();
END
GO
