USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_User_GetByUsername]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Get by Username
CREATE PROCEDURE [dbo].[sp_User_GetByUsername]
    @UserName NCHAR(55)
AS
BEGIN
    SELECT *
    FROM Users
    WHERE UserName = @UserName;
END
GO
