USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Employee_GetByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Employee by ID
CREATE PROCEDURE [dbo].[sp_Employee_GetByID]
    @EmployeeID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM Employees WHERE EmployeeID = @EmployeeID;
END
GO
