USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_JobTitle_GetActive]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_JobTitle_GetActive]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM JobTitles WHERE 1=1; -- عدل حسب حالة النشاط لو متوفرة
END
GO
