USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Deduction_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete Deduction
CREATE PROCEDURE [dbo].[sp_Deduction_Delete]
    @DeductionID INT
AS
BEGIN
    DELETE FROM Deductions WHERE DeductionID = @DeductionID;
END
GO
