USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Booking_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete Booking
CREATE PROCEDURE [dbo].[sp_Booking_Delete]
    @BookingID INT
AS
BEGIN
    DELETE FROM Bookings WHERE BookingID = @BookingID;
END
GO
