USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_EmployeeAttendance_GetByEmployeeID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. Get Attendance By EmployeeID
CREATE PROCEDURE [dbo].[sp_EmployeeAttendance_GetByEmployeeID]
    @EmployeeID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM EmployeeAttendance
    WHERE EmployeeID = @EmployeeID
    ORDER BY AttendanceDate DESC;
END
GO
