USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Stage_GetActive]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Stage_GetActive]
AS
BEGIN
    SELECT * FROM Stages WHERE IsActive = 1;
END
GO
