USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_RoomType_GetActive]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Active Only
CREATE PROCEDURE [dbo].[sp_RoomType_GetActive]
AS
BEGIN
    SELECT * FROM RoomTypes WHERE IsActive = 1;
END
GO
