USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentFee_GetAll]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Get All
CREATE PROCEDURE [dbo].[sp_StudentFee_GetAll]
AS
BEGIN
    SELECT * FROM StudentFees;
END
GO
