USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_FinalGrade_GetByStudentID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FinalGrade_GetByStudentID]
    @StudentID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT FinalGradeID, StudentID, SubjectID, StageID, AcademicYearID, ExamPeriodID, ExamTypeID, Grade, MaxGrade, CalculationDate, Notes
    FROM FinalGrades
    WHERE StudentID = @StudentID;
END
GO
