USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_JobTitle_GetByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- GetByID
CREATE PROCEDURE [dbo].[sp_JobTitle_GetByID]
    @JobTitleID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM JobTitles WHERE JobTitleID = @JobTitleID;
END
GO
