USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Employee_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Insert Employee
CREATE PROCEDURE [dbo].[sp_Employee_Insert]
    @PersonID INT,
    @JobTitleID INT,
    @HireDate DATE,
    @TerminationDate DATE = NULL,
    @IsActive BIT,
    @Notes NVARCHAR(500) = NULL,
    @Salary DECIMAL(18,0)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Employees (PersonID, JobTitleID, HireDate, TerminationDate, IsActive, Notes, Salary)
    VALUES (@PersonID, @JobTitleID, @HireDate, @TerminationDate, @IsActive, @Notes, @Salary);

    SELECT SCOPE_IDENTITY() AS NewEmployeeID;
END
GO
