USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_MonthlySalary_GetByEmployeeAndMonth]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 6. Get salary record by EmployeeID and Month
CREATE PROCEDURE [dbo].[sp_MonthlySalary_GetByEmployeeAndMonth]
    @EmployeeID INT,
    @SalaryMonth DATE
AS
BEGIN
    SELECT * FROM MonthlySalaries
    WHERE EmployeeID = @EmployeeID 
      AND MONTH(SalaryMonth) = MONTH(@SalaryMonth) 
      AND YEAR(SalaryMonth) = YEAR(@SalaryMonth);
END
GO
