USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Bonus_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update Bonus
CREATE PROCEDURE [dbo].[sp_Bonus_Update]
    @BonusID INT,
    @EmployeeID INT,
    @Amount DECIMAL(18,2),
    @Reason NVARCHAR(255),
    @Date DATE,
    @AppliedInSalaryMonth DATE
AS
BEGIN
    UPDATE Bonuses
    SET EmployeeID = @EmployeeID,
        Amount = @Amount,
        Reason = @Reason,
        Date = @Date,
        AppliedInSalaryMonth = @AppliedInSalaryMonth
    WHERE BonusID = @BonusID;
END
GO
