USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Room_GetAvailable]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Available Rooms
CREATE PROCEDURE [dbo].[sp_Room_GetAvailable]
AS
BEGIN
    SELECT * FROM Rooms WHERE IsAvailable = 1;
END
GO
