USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Employee_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete Employee مع إعادة عدد الصفوف المتأثرة
CREATE PROCEDURE [dbo].[sp_Employee_Delete]
    @EmployeeID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Employees WHERE EmployeeID = @EmployeeID;

    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
