USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[GetAllUsers]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 4. جلب كل المستخدمين
CREATE PROCEDURE [dbo].[GetAllUsers]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT UserID, PersonID, UserName, Password, IsActive
    FROM Users;
END
GO
