USE [SchoolDB]
GO
/****** Object:  Table [dbo].[FinalGrades]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinalGrades](
	[FinalGradeID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[StageID] [int] NOT NULL,
	[AcademicYearID] [int] NOT NULL,
	[ExamPeriodID] [int] NOT NULL,
	[Grade] [decimal](5, 2) NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FinalGradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FinalGrades] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[FinalGrades]  WITH CHECK ADD  CONSTRAINT [FK_FinalGrades_AcademicYear] FOREIGN KEY([AcademicYearID])
REFERENCES [dbo].[AcademicYears] ([AcademicYearID])
GO
ALTER TABLE [dbo].[FinalGrades] CHECK CONSTRAINT [FK_FinalGrades_AcademicYear]
GO
ALTER TABLE [dbo].[FinalGrades]  WITH CHECK ADD  CONSTRAINT [FK_FinalGrades_ExamPeriod] FOREIGN KEY([ExamPeriodID])
REFERENCES [dbo].[ExamPeriods] ([ExamPeriodID])
GO
ALTER TABLE [dbo].[FinalGrades] CHECK CONSTRAINT [FK_FinalGrades_ExamPeriod]
GO
ALTER TABLE [dbo].[FinalGrades]  WITH CHECK ADD  CONSTRAINT [FK_FinalGrades_Stage] FOREIGN KEY([StageID])
REFERENCES [dbo].[Stages] ([StageID])
GO
ALTER TABLE [dbo].[FinalGrades] CHECK CONSTRAINT [FK_FinalGrades_Stage]
GO
ALTER TABLE [dbo].[FinalGrades]  WITH CHECK ADD  CONSTRAINT [FK_FinalGrades_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[FinalGrades] CHECK CONSTRAINT [FK_FinalGrades_Student]
GO
ALTER TABLE [dbo].[FinalGrades]  WITH CHECK ADD  CONSTRAINT [FK_FinalGrades_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[FinalGrades] CHECK CONSTRAINT [FK_FinalGrades_Subject]
GO
ALTER TABLE [dbo].[FinalGrades]  WITH CHECK ADD CHECK  (([Grade]>=(0) AND [Grade]<=(100)))
GO
