USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[Update_Identifier]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. تحديث معرف
CREATE PROCEDURE [dbo].[Update_Identifier]
    @IdentifierID INT,
    @IdentifierTypeID INT,
    @IdentifierValue NVARCHAR(100)
AS
BEGIN
    UPDATE Identifiers
    SET IdentifierTypeID = @IdentifierTypeID,
        IdentifierValue = @IdentifierValue
    WHERE IdentifierID = @IdentifierID;
END
GO
