USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StageFeeItem_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Insert
CREATE PROCEDURE [dbo].[sp_StageFeeItem_Insert]
    @StageID INT,
    @FeeTypeID INT,
    @AcademicYearID INT,
    @Amount DECIMAL(18,2),
    @Description NCHAR(100) = NULL,
    @IsActive BIT
AS
BEGIN
    INSERT INTO StageFeeItems (StageID, FeeTypeID, AcademicYearID, Amount, Description, IsActive)
    VALUES (@StageID, @FeeTypeID, @AcademicYearID, @Amount, @Description, @IsActive);

    SELECT SCOPE_IDENTITY();
END
GO
