USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Guardian_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Update
CREATE PROCEDURE [dbo].[sp_Guardian_Update]
    @GuardianID INT,
    @PersonID INT,
    @Jobs NVARCHAR(50),
    @Notes NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Guardians
    SET PersonID = @PersonID,
        Jobs = @Jobs,
        Notes = @Notes
    WHERE GuardianID = @GuardianID;
END
GO
