USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[Get_IdentifierType_ByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_IdentifierType_ByID]
    @IdentifierTypeID INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF EXISTS (SELECT 1 FROM IdentifierTypes WHERE IdentifierTypeID = @IdentifierTypeID)
        BEGIN
            SELECT IdentifierTypeID, IdentifierName
            FROM IdentifierTypes
            WHERE IdentifierTypeID = @IdentifierTypeID;
        END
        ELSE
        BEGIN
            RAISERROR('السجل غير موجود.', 16, 1);
        END
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
