USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Subject_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update Subject
CREATE PROCEDURE [dbo].[sp_Subject_Update]
    @SubjectID INT,
    @SubjectName NVARCHAR(50),
    @StageID INT,
    @IsActive BIT,
    @Notes NVARCHAR(255) = NULL
AS
BEGIN
    UPDATE Subjects
    SET SubjectName = @SubjectName,
        StageID = @StageID,
        IsActive = @IsActive,
        Notes = @Notes
    WHERE SubjectID = @SubjectID;
END
GO
