USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentInstallment_GetAll]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_StudentInstallment_GetAll]
AS
BEGIN
    SELECT * FROM StudentFeeInstallments;
END
GO
