USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[Insert_Identifier]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. إدخال معرف جديد
CREATE PROCEDURE [dbo].[Insert_Identifier]
    @IdentifierTypeID INT,
    @IdentifierValue NVARCHAR(100),
    @NewID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Identifiers (IdentifierTypeID, IdentifierValue)
    VALUES (@IdentifierTypeID, @IdentifierValue);

    SET @NewID = SCOPE_IDENTITY();
END
GO
