USE [SchoolDB]
GO
/****** Object:  Table [dbo].[Stages]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stages](
	[StageID] [int] IDENTITY(1,1) NOT NULL,
	[StageName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Stages] ON 

INSERT [dbo].[Stages] ([StageID], [StageName], [IsActive]) VALUES (1, N'روضة أولى', 1)
INSERT [dbo].[Stages] ([StageID], [StageName], [IsActive]) VALUES (2, N'روضة ثانية', 1)
INSERT [dbo].[Stages] ([StageID], [StageName], [IsActive]) VALUES (3, N'الصف الأول', 1)
SET IDENTITY_INSERT [dbo].[Stages] OFF
GO
ALTER TABLE [dbo].[Stages] ADD  DEFAULT ((1)) FOR [IsActive]
GO
