USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentStage_GetAll]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get All StudentStages
CREATE PROCEDURE [dbo].[sp_StudentStage_GetAll]
AS
BEGIN
    SELECT * FROM StudentStages ORDER BY EnrollmentDate DESC;
END
GO
