USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Result_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update Result
CREATE PROCEDURE [dbo].[sp_Result_Update]
    @ResultID INT,
    @StudentID INT,
    @ExamID INT,
    @Score DECIMAL(5,2) = NULL,
    @IsAbsent BIT,
    @Notes NVARCHAR(500) = NULL
AS
BEGIN
    UPDATE Results
    SET StudentID = @StudentID,
        ExamID = @ExamID,
        Score = @Score,
        IsAbsent = @IsAbsent,
        Notes = @Notes
    WHERE ResultID = @ResultID;
END
GO
