USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentFee_GetByStudentID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6. Get By StudentID
CREATE PROCEDURE [dbo].[sp_StudentFee_GetByStudentID]
    @StudentID INT
AS
BEGIN
    SELECT * FROM StudentFees WHERE StudentID = @StudentID;
END
GO
