USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[IsEmployeeExistByPersonID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IsEmployeeExistByPersonID]
    @PersonID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Employees WHERE PersonID = @PersonID)
        SELECT CAST(1 AS BIT) AS ExistsFlag;
    ELSE
        SELECT CAST(0 AS BIT) AS ExistsFlag;
END
GO
