USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Exam_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete Exam
CREATE PROCEDURE [dbo].[sp_Exam_Delete]
    @ExamID INT
AS
BEGIN
    DELETE FROM Exams WHERE ExamID = @ExamID;
END
GO
