USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_MonthlySalary_GetAllByEmployeeID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 8. Get all salary records by EmployeeID, ordered descending by month
CREATE PROCEDURE [dbo].[sp_MonthlySalary_GetAllByEmployeeID]
    @EmployeeID INT
AS
BEGIN
    SELECT 
        SalaryID,
        EmployeeID,
        SalaryMonth,
        BaseSalary,
        AbsenceDays,
        DeductionPerAbsent,
        NetSalary,
        Paid,
        PaymentDate
    FROM MonthlySalaries
    WHERE EmployeeID = @EmployeeID
    ORDER BY SalaryMonth DESC;
END
GO
