USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[Get_JobTitles_CanTeach]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- الإجراء: جلب الوظائف التي يمكنها التدريس
CREATE   PROCEDURE [dbo].[Get_JobTitles_CanTeach]
AS
BEGIN
    SELECT *
    FROM EmployeeJobTitles
    WHERE CanTeach = 1;
END
GO
