USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Deduction_GetAll]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get All Deductions
CREATE PROCEDURE [dbo].[sp_Deduction_GetAll]
AS
BEGIN
    SELECT * FROM Deductions ORDER BY Date DESC;
END
GO
