USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Student_GetByStage]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_Student_GetByStage]
    @StageID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM Students WHERE StageID = @StageID;
END
GO
