USE [SchoolDB]
GO
/****** Object:  Table [dbo].[Identifiers]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Identifiers](
	[IdentifierID] [int] IDENTITY(1,1) NOT NULL,
	[IdentifierTypeID] [int] NOT NULL,
	[IdentifierValue] [nchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdentifierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Identifiers] ON 

INSERT [dbo].[Identifiers] ([IdentifierID], [IdentifierTypeID], [IdentifierValue]) VALUES (6, 1, N'0334385191          ')
INSERT [dbo].[Identifiers] ([IdentifierID], [IdentifierTypeID], [IdentifierValue]) VALUES (56, 1, N'0426623713          ')
INSERT [dbo].[Identifiers] ([IdentifierID], [IdentifierTypeID], [IdentifierValue]) VALUES (27, 1, N'0465663962          ')
GO
SET IDENTITY_INSERT [dbo].[Identifiers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_IdentifierType_Value]    Script Date: 8/21/2025 5:43:21 PM ******/
ALTER TABLE [dbo].[Identifiers] ADD  CONSTRAINT [UQ_IdentifierType_Value] UNIQUE NONCLUSTERED 
(
	[IdentifierTypeID] ASC,
	[IdentifierValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Identifiers]  WITH CHECK ADD  CONSTRAINT [FK_Identifiers_IdentifierTypes] FOREIGN KEY([IdentifierTypeID])
REFERENCES [dbo].[IdentifierTypes] ([IdentifierTypeID])
GO
ALTER TABLE [dbo].[Identifiers] CHECK CONSTRAINT [FK_Identifiers_IdentifierTypes]
GO
