USE [SchoolDB]
GO
/****** Object:  Table [dbo].[StudentFeeInstallments]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentFeeInstallments](
	[InstallmentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentFeeID] [int] NOT NULL,
	[DueDate] [date] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[IsPaid] [bit] NULL,
	[Notes] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[InstallmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StudentFeeInstallments] ON 

INSERT [dbo].[StudentFeeInstallments] ([InstallmentID], [StudentFeeID], [DueDate], [Amount], [IsPaid], [Notes]) VALUES (3, 3, CAST(N'2025-07-27' AS Date), CAST(500.00 AS Decimal(18, 2)), 0, N'Test installment')
INSERT [dbo].[StudentFeeInstallments] ([InstallmentID], [StudentFeeID], [DueDate], [Amount], [IsPaid], [Notes]) VALUES (5, 5, CAST(N'2025-07-27' AS Date), CAST(500.00 AS Decimal(18, 2)), 0, N'Test installment')
SET IDENTITY_INSERT [dbo].[StudentFeeInstallments] OFF
GO
ALTER TABLE [dbo].[StudentFeeInstallments] ADD  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[StudentFeeInstallments]  WITH CHECK ADD  CONSTRAINT [FK_Installments_StudentFee] FOREIGN KEY([StudentFeeID])
REFERENCES [dbo].[StudentFees] ([StudentFeeID])
GO
ALTER TABLE [dbo].[StudentFeeInstallments] CHECK CONSTRAINT [FK_Installments_StudentFee]
GO
