USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_EmployeeSalaryHistory_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- حذف سجل راتب
CREATE PROCEDURE [dbo].[sp_EmployeeSalaryHistory_Delete]
    @SalaryID INT
AS
BEGIN
    DELETE FROM EmployeesSalaryHistory WHERE SalaryID = @SalaryID;
END
GO
