USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Result_GetByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Result By ID
CREATE PROCEDURE [dbo].[sp_Result_GetByID]
    @ResultID INT
AS
BEGIN
    SELECT * FROM Results WHERE ResultID = @ResultID;
END
GO
