USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Student_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Insert Student
CREATE PROCEDURE [dbo].[sp_Student_Insert]
    @PersonID INT,
    @GuardianID INT,
    @EnrollmentDate DATE,
    @StageID INT,
    @IsActive BIT,
    @DocumentPath NVARCHAR(512) = NULL,
    @Notes NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Students (PersonID, GuardianID, EnrollmentDate, StageID, IsActive, DocumentPath, Notes)
    VALUES (@PersonID, @GuardianID, @EnrollmentDate, @StageID, @IsActive, @DocumentPath, @Notes);

    SELECT SCOPE_IDENTITY() AS NewStudentID;
END
GO
