USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Schedule_GetByClassID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Schedules By ClassID
CREATE PROCEDURE [dbo].[sp_Schedule_GetByClassID]
    @ClassID INT
AS
BEGIN
    SELECT * FROM Schedules WHERE ClassID = @ClassID ORDER BY DayOfWeek, StartTime;
END
GO
