USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Employee_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Update Employee  
CREATE PROCEDURE [dbo].[sp_Employee_Update]  
    @EmployeeID INT,  
    @PersonID INT,  
    @JobTitleID INT,  
    @HireDate DATE,  
    @TerminationDate DATE = NULL,  
    @IsActive BIT,  
    @Notes NVARCHAR(500) = NULL,  
    @Salary DECIMAL(18,0)  
AS  
BEGIN  
    -- DO NOT suppress row count
    --SET NOCOUNT ON;

    UPDATE Employees  
    SET PersonID = @PersonID,  
        JobTitleID = @JobTitleID,  
        HireDate = @HireDate,  
        TerminationDate = @TerminationDate,  
        IsActive = @IsActive,  
        Notes = @Notes,  
        Salary = @Salary  
    WHERE EmployeeID = @EmployeeID;

    -- Return number of rows affected (optional, but clearer)
    RETURN @@ROWCOUNT;
END  
GO
