USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StageFeeItem_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Update
CREATE PROCEDURE [dbo].[sp_StageFeeItem_Update]
    @StageFeeItemID INT,
    @StageID INT,
    @FeeTypeID INT,
    @AcademicYearID INT,
    @Amount DECIMAL(18,2),
    @Description NCHAR(100) = NULL,
    @IsActive BIT
AS
BEGIN
    UPDATE StageFeeItems
    SET StageID = @StageID,
        FeeTypeID = @FeeTypeID,
        AcademicYearID = @AcademicYearID,
        Amount = @Amount,
        Description = @Description,
        IsActive = @IsActive
    WHERE StageFeeItemID = @StageFeeItemID;
END
GO
