USE [SchoolDB]
GO
/****** Object:  Table [dbo].[EmployeeAttendance]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeAttendance](
	[AttendanceID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[AttendanceDate] [date] NOT NULL,
	[CheckInTime] [time](7) NULL,
	[CheckOutTime] [time](7) NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EmployeeAttendance] ON 

INSERT [dbo].[EmployeeAttendance] ([AttendanceID], [EmployeeID], [AttendanceDate], [CheckInTime], [CheckOutTime], [Status]) VALUES (1, 1, CAST(N'2025-06-01' AS Date), CAST(N'08:00:00' AS Time), CAST(N'16:00:00' AS Time), N'Present')
INSERT [dbo].[EmployeeAttendance] ([AttendanceID], [EmployeeID], [AttendanceDate], [CheckInTime], [CheckOutTime], [Status]) VALUES (2, 2, CAST(N'2025-06-01' AS Date), NULL, NULL, N'Absent')
INSERT [dbo].[EmployeeAttendance] ([AttendanceID], [EmployeeID], [AttendanceDate], [CheckInTime], [CheckOutTime], [Status]) VALUES (3, 3, CAST(N'2025-06-01' AS Date), CAST(N'08:15:00' AS Time), CAST(N'16:15:00' AS Time), N'Present')
SET IDENTITY_INSERT [dbo].[EmployeeAttendance] OFF
GO
/****** Object:  Index [UQ_Attendance_UniqueDay]    Script Date: 8/21/2025 5:43:21 PM ******/
ALTER TABLE [dbo].[EmployeeAttendance] ADD  CONSTRAINT [UQ_Attendance_UniqueDay] UNIQUE NONCLUSTERED 
(
	[EmployeeID] ASC,
	[AttendanceDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmployeeAttendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[EmployeeAttendance] CHECK CONSTRAINT [FK_Attendance_Employee]
GO
ALTER TABLE [dbo].[EmployeeAttendance]  WITH CHECK ADD CHECK  (([Status]='Leave' OR [Status]='Sick' OR [Status]='Absent' OR [Status]='Present'))
GO
