USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_MonthlySalary_GetMonthsWithUnpaid]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MonthlySalary_GetMonthsWithUnpaid]
AS
BEGIN
    SELECT DISTINCT 
        YEAR(SalaryMonth) AS Year,
        MONTH(SalaryMonth) AS Month
    FROM MonthlySalaries
    WHERE Paid = 0
    ORDER BY Year DESC, Month DESC;
END
GO
