USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ExamType_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update ExamType
CREATE PROCEDURE [dbo].[sp_ExamType_Update]
    @ExamTypeID INT,
    @ExamTypeName NVARCHAR(50),
    @Description NVARCHAR(255) = NULL
AS
BEGIN
    UPDATE ExamTypes
    SET ExamTypeName = @ExamTypeName,
        Description = @Description
    WHERE ExamTypeID = @ExamTypeID;
END
GO
