USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentInstallment_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Update
CREATE PROCEDURE [dbo].[sp_StudentInstallment_Update]
    @InstallmentID INT,
    @StudentFeeID INT,
    @DueDate DATE,
    @Amount DECIMAL(18,2),
    @IsPaid BIT = NULL,
    @Notes NVARCHAR(255) = NULL
AS
BEGIN
    UPDATE StudentFeeInstallments
    SET StudentFeeID = @StudentFeeID,
        DueDate = @DueDate,
        Amount = @Amount,
        IsPaid = @IsPaid,
        Notes = @Notes
    WHERE InstallmentID = @InstallmentID;
END
GO
