USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Class_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Insert Class
CREATE PROCEDURE [dbo].[sp_Class_Insert]
    @ClassName NVARCHAR(100),
    @StageID INT,
    @Capacity INT,
    @Notes NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Classes (ClassName, StageID, Capacity, Notes)
    VALUES (@ClassName, @StageID, @Capacity, @Notes);

    SELECT SCOPE_IDENTITY(); -- ترجع الـ ClassID الجديد
END
GO
