USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_FeeType_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Update
CREATE PROCEDURE [dbo].[sp_FeeType_Update]
    @FeeTypeID INT,
    @FeeName NVARCHAR(100),
    @Description NVARCHAR(255) = NULL,
    @IsActive BIT
AS
BEGIN
    UPDATE FeeTypes
    SET FeeName = @FeeName,
        Description = @Description,
        IsActive = @IsActive
    WHERE FeeTypeID = @FeeTypeID;
END
GO
