USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentStage_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- Insert StudentStage
CREATE PROCEDURE [dbo].[sp_StudentStage_Insert]
    @StudentID INT,
    @StageID INT,
    @AcademicYearID INT,
    @EnrollmentDate DATE,
    @IsActive BIT
AS
BEGIN
    INSERT INTO StudentStages (StudentID, StageID, AcademicYearID, EnrollmentDate, IsActive)
    VALUES (@StudentID, @StageID, @AcademicYearID, @EnrollmentDate, @IsActive);

    SELECT SCOPE_IDENTITY();
END
GO
