USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudentsEnrollmentCountInStageByDate]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. عدد الطلاب المسجلين في مرحلة معينة ضمن فترة تسجيل معينة
CREATE PROCEDURE [dbo].[sp_GetStudentsEnrollmentCountInStageByDate]
    @StageID INT,
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SELECT COUNT(*) AS EnrollmentCount
    FROM Students 
    WHERE IsActive = 1 
      AND StageID = @StageID
      AND EnrollmentDate BETWEEN @StartDate AND @EndDate;
END
GO
