USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Stage_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Stage_Insert]
    @StageName NVARCHAR(50),
    @IsActive BIT
AS
BEGIN
    INSERT INTO Stages (StageName, IsActive)
    VALUES (@StageName, @IsActive);

    SELECT SCOPE_IDENTITY(); -- Return the new ID
END
GO
