USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Booking_GetByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Booking By ID
CREATE PROCEDURE [dbo].[sp_Booking_GetByID]
    @BookingID INT
AS
BEGIN
    SELECT * FROM Bookings WHERE BookingID = @BookingID;
END
GO
