USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Schedule_GetAll]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get All Schedules
CREATE PROCEDURE [dbo].[sp_Schedule_GetAll]
AS
BEGIN
    SELECT * FROM Schedules ORDER BY DayOfWeek, StartTime;
END
GO
