USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_FinalGrade_GetBySubjectID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FinalGrade_GetBySubjectID]
    @SubjectID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT FinalGradeID, StudentID, SubjectID, StageID, AcademicYearID, ExamPeriodID, ExamTypeID, Grade, MaxGrade, CalculationDate, Notes
    FROM FinalGrades
    WHERE SubjectID = @SubjectID;
END
GO
