USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Result_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete Result
CREATE PROCEDURE [dbo].[sp_Result_Delete]
    @ResultID INT
AS
BEGIN
    DELETE FROM Results WHERE ResultID = @ResultID;
END
GO
