USE [SchoolDB]
GO
/****** Object:  Table [dbo].[FeeTypes]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeeTypes](
	[FeeTypeID] [int] IDENTITY(1,1) NOT NULL,
	[FeeName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FeeTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FeeTypes] ON 

INSERT [dbo].[FeeTypes] ([FeeTypeID], [FeeName], [Description], [IsActive]) VALUES (1, N'رسوم تسجيل', N'يتم دفعها مرة واحدة عند تسجيل الطالب لأول مرة', 1)
INSERT [dbo].[FeeTypes] ([FeeTypeID], [FeeName], [Description], [IsActive]) VALUES (2, N'رسوم شهرية', N'الرسوم الشهرية لتغطية تكاليف الدراسة', 1)
INSERT [dbo].[FeeTypes] ([FeeTypeID], [FeeName], [Description], [IsActive]) VALUES (3, N'رسوم حافلة', N'رسوم النقل المدرسي للطلاب', 1)
SET IDENTITY_INSERT [dbo].[FeeTypes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__FeeTypes__72EE92F630F27532]    Script Date: 8/21/2025 5:43:21 PM ******/
ALTER TABLE [dbo].[FeeTypes] ADD UNIQUE NONCLUSTERED 
(
	[FeeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FeeTypes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
