USE [SchoolDB]
GO
/****** Object:  View [dbo].[vw_StudentFeeStatus]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_StudentFeeStatus] AS
SELECT 
    sf.StudentFeeID,
    sf.StudentID,
 RTRIM(LTRIM(
        ISNULL(p.FirstName, '') + ' ' +
        ISNULL(p.SecondName, '') + ' ' +
        ISNULL(p.ThirdName, '') + ' ' +
        ISNULL(p.LastName, '')
    )) AS FullName,    ft.FeeName,
    sfi.Amount AS TotalRequired,
    sf.TotalPaid,
    (sfi.Amount - sf.TotalPaid) AS Remaining,
    CASE 
        WHEN sf.TotalPaid >= sfi.Amount THEN 'Paid'
        WHEN sf.TotalPaid = 0 THEN 'Unpaid'
        ELSE 'Partial'
    END AS PaymentStatus,
    sf.DueDate,
    sf.Status,
    sf.Notes
FROM StudentFees sf
JOIN StageFeeItems sfi ON sf.StageFeeItemID = sfi.StageFeeItemID
JOIN FeeTypes ft ON sfi.FeeTypeID = ft.FeeTypeID
JOIN Students st ON sf.StudentID = st.StudentID
JOIN Persons p ON st.PersonID = p.PersonID;
GO
