USE [SchoolDB]
GO
/****** Object:  Table [dbo].[ExamPeriods]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamPeriods](
	[ExamPeriodID] [int] IDENTITY(1,1) NOT NULL,
	[ExamPeriodName] [nvarchar](50) NOT NULL,
	[ExamTypeID] [int] NOT NULL,
	[AcademicYearID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamPeriodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ExamPeriods] ON 

INSERT [dbo].[ExamPeriods] ([ExamPeriodID], [ExamPeriodName], [ExamTypeID], [AcademicYearID], [StartDate], [EndDate]) VALUES (1, N'الفصل الأول', 1, 1, CAST(N'2024-09-01' AS Date), CAST(N'2024-12-15' AS Date))
INSERT [dbo].[ExamPeriods] ([ExamPeriodID], [ExamPeriodName], [ExamTypeID], [AcademicYearID], [StartDate], [EndDate]) VALUES (2, N'الفصل الثاني', 1, 1, CAST(N'2025-01-10' AS Date), CAST(N'2025-04-20' AS Date))
INSERT [dbo].[ExamPeriods] ([ExamPeriodID], [ExamPeriodName], [ExamTypeID], [AcademicYearID], [StartDate], [EndDate]) VALUES (3, N'الفصل النهائي', 2, 1, CAST(N'2025-05-01' AS Date), CAST(N'2025-06-15' AS Date))
SET IDENTITY_INSERT [dbo].[ExamPeriods] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ExamPeriod]    Script Date: 8/21/2025 5:43:21 PM ******/
ALTER TABLE [dbo].[ExamPeriods] ADD  CONSTRAINT [UQ_ExamPeriod] UNIQUE NONCLUSTERED 
(
	[ExamPeriodName] ASC,
	[ExamTypeID] ASC,
	[AcademicYearID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExamPeriods]  WITH CHECK ADD  CONSTRAINT [FK_ExamPeriods_AcademicYears] FOREIGN KEY([AcademicYearID])
REFERENCES [dbo].[AcademicYears] ([AcademicYearID])
GO
ALTER TABLE [dbo].[ExamPeriods] CHECK CONSTRAINT [FK_ExamPeriods_AcademicYears]
GO
ALTER TABLE [dbo].[ExamPeriods]  WITH CHECK ADD  CONSTRAINT [FK_ExamPeriods_ExamTypes] FOREIGN KEY([ExamTypeID])
REFERENCES [dbo].[ExamTypes] ([ExamTypeID])
GO
ALTER TABLE [dbo].[ExamPeriods] CHECK CONSTRAINT [FK_ExamPeriods_ExamTypes]
GO
ALTER TABLE [dbo].[ExamPeriods]  WITH CHECK ADD  CONSTRAINT [CHK_ExamPeriod_Dates] CHECK  (([StartDate]<=[EndDate]))
GO
ALTER TABLE [dbo].[ExamPeriods] CHECK CONSTRAINT [CHK_ExamPeriod_Dates]
GO
