USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentStage_GetByStageID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- البحث حسب StageID
CREATE PROCEDURE [dbo].[sp_StudentStage_GetByStageID]
    @StageID INT
AS
BEGIN
    SELECT * FROM StudentStages WHERE StageID = @StageID ORDER BY EnrollmentDate DESC;
END
GO
