USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ExamPeriod_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update ExamPeriod
CREATE PROCEDURE [dbo].[sp_ExamPeriod_Update]
    @ExamPeriodID INT,
    @ExamPeriodName NVARCHAR(50),
    @ExamTypeID INT,
    @AcademicYearID INT,
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    UPDATE ExamPeriods
    SET ExamPeriodName = @ExamPeriodName,
        ExamTypeID = @ExamTypeID,
        AcademicYearID = @AcademicYearID,
        StartDate = @StartDate,
        EndDate = @EndDate
    WHERE ExamPeriodID = @ExamPeriodID;
END
GO
