USE [SchoolDB]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomName] [nvarchar](100) NOT NULL,
	[RoomTypeID] [int] NOT NULL,
	[Capacity] [int] NOT NULL,
	[Location] [nvarchar](100) NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[IsReservable] [bit] NOT NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomID], [RoomName], [RoomTypeID], [Capacity], [Location], [IsAvailable], [IsReservable], [Notes]) VALUES (1, N'Main Lecture Hall A', 1, 100, N'Building A - Floor 1', 1, 1, N'Equipped with projector and sound system')
INSERT [dbo].[Rooms] ([RoomID], [RoomName], [RoomTypeID], [Capacity], [Location], [IsAvailable], [IsReservable], [Notes]) VALUES (2, N'Computer Lab 1', 2, 30, N'Building B - Floor 2', 1, 1, N'Contains 30 computers with internet access')
INSERT [dbo].[Rooms] ([RoomID], [RoomName], [RoomTypeID], [Capacity], [Location], [IsAvailable], [IsReservable], [Notes]) VALUES (3, N'Science Lab', 3, 25, N'Building C - Floor 1', 1, 0, N'Chemical lab with safety equipment')
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((1)) FOR [IsReservable]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_RoomTypes] FOREIGN KEY([RoomTypeID])
REFERENCES [dbo].[RoomTypes] ([RoomTypeID])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_RoomTypes]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD CHECK  (([Capacity]>=(0)))
GO
