USE [SchoolDB]
GO
/****** Object:  Table [dbo].[StudentPayments]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentPayments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentFeeID] [int] NOT NULL,
	[PaymentDate] [date] NOT NULL,
	[AmountPaid] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[Notes] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StudentPayments] ON 

INSERT [dbo].[StudentPayments] ([PaymentID], [StudentFeeID], [PaymentDate], [AmountPaid], [PaymentMethod], [Notes]) VALUES (1, 3, CAST(N'2025-06-20' AS Date), CAST(370.00 AS Decimal(18, 2)), N'Cash', N'الدفعة الأولى')
INSERT [dbo].[StudentPayments] ([PaymentID], [StudentFeeID], [PaymentDate], [AmountPaid], [PaymentMethod], [Notes]) VALUES (2, 5, CAST(N'2025-06-20' AS Date), CAST(370.00 AS Decimal(18, 2)), N'Card', N'الدفعة الأولى')
INSERT [dbo].[StudentPayments] ([PaymentID], [StudentFeeID], [PaymentDate], [AmountPaid], [PaymentMethod], [Notes]) VALUES (3, 7, CAST(N'2025-06-20' AS Date), CAST(370.00 AS Decimal(18, 2)), N'Bank Transfer', N'الدفعة الأولى')
SET IDENTITY_INSERT [dbo].[StudentPayments] OFF
GO
/****** Object:  Index [idx_StudentPayments_StudentFeeID]    Script Date: 8/21/2025 5:43:21 PM ******/
CREATE NONCLUSTERED INDEX [idx_StudentPayments_StudentFeeID] ON [dbo].[StudentPayments]
(
	[StudentFeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StudentPayments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_StudentFees] FOREIGN KEY([StudentFeeID])
REFERENCES [dbo].[StudentFees] ([StudentFeeID])
GO
ALTER TABLE [dbo].[StudentPayments] CHECK CONSTRAINT [FK_Payments_StudentFees]
GO
ALTER TABLE [dbo].[StudentPayments]  WITH CHECK ADD  CONSTRAINT [CHK_AmountPaid_Positive] CHECK  (([AmountPaid]>=(0)))
GO
ALTER TABLE [dbo].[StudentPayments] CHECK CONSTRAINT [CHK_AmountPaid_Positive]
GO
ALTER TABLE [dbo].[StudentPayments]  WITH CHECK ADD CHECK  (([AmountPaid]>(0)))
GO
