USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ExamPeriod_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Insert ExamPeriod
CREATE PROCEDURE [dbo].[sp_ExamPeriod_Insert]
    @ExamPeriodName NVARCHAR(50),
    @ExamTypeID INT,
    @AcademicYearID INT,
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    INSERT INTO ExamPeriods (ExamPeriodName, ExamTypeID, AcademicYearID, StartDate, EndDate)
    VALUES (@ExamPeriodName, @ExamTypeID, @AcademicYearID, @StartDate, @EndDate);

    SELECT SCOPE_IDENTITY();
END
GO
