USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Class_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update Class
CREATE PROCEDURE [dbo].[sp_Class_Update]
    @ClassID INT,
    @ClassName NVARCHAR(100),
    @StageID INT,
    @Capacity INT,
    @Notes NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Classes
    SET ClassName = @ClassName,
        StageID = @StageID,
        Capacity = @Capacity,
        Notes = @Notes
    WHERE ClassID = @ClassID;

    SELECT @@ROWCOUNT; -- عدد الصفوف المتأثرة
END
GO
