USE [SchoolDB]
GO
/****** Object:  View [dbo].[vw_TeacherSchedules]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_TeacherSchedules] AS
SELECT 
    T.EmployeeID,
    CONCAT(P.FirstName, ' ', P.LastName) AS FullName,
    C.ClassName,
    S.SubjectName,
    R.RoomName,
    SC.DayOfWeek,
    SC.StartTime,
    SC.EndTime,
    AY.AcademicYearID
FROM Schedules SC
JOIN Employees T ON SC.TeacherID = T.EmployeeID
JOIN Persons P ON T.PersonID = P.PersonID
JOIN Classes C ON SC.ClassID = C.ClassID
JOIN Subjects S ON SC.SubjectID = S.SubjectID
JOIN Rooms R ON SC.RoomID = R.RoomID
JOIN AcademicYears AY ON SC.AcademicYearID = AY.AcademicYearID;


GO
