USE [SchoolDB]
GO
/****** Object:  View [dbo].[vw_FullEmployeeMonthlySalaryDetails]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_FullEmployeeMonthlySalaryDetails] AS
SELECT
    e.EmployeeID,
    p.FirstName + ' ' + p.SecondName + ' ' + p.ThirdName + ' ' + p.LastName AS FullName,
    s.SalaryMonth,
    s.BaseSalary,
    s.AbsenceDays,
    s.DeductionPerAbsent,
    (s.AbsenceDays * s.DeductionPerAbsent) AS TotalDeduction,
    (s.BaseSalary - (s.AbsenceDays * s.DeductionPerAbsent)) AS NetSalary,
    s.Paid,
    s.PaymentDate
FROM MonthlySalaries s
JOIN Employees e ON s.EmployeeID = e.EmployeeID
JOIN Persons p ON e.PersonID = p.PersonID;
GO
