USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_RoomType_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update RoomType
CREATE PROCEDURE [dbo].[sp_RoomType_Update]
    @RoomTypeID INT,
    @TypeName NVARCHAR(50),
    @Description NVARCHAR(250) = NULL,
    @IsActive BIT
AS
BEGIN
    UPDATE RoomTypes
    SET TypeName = @TypeName,
        Description = @Description,
        IsActive = @IsActive
    WHERE RoomTypeID = @RoomTypeID;
END
GO
