USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_DayOfWeek_GetWorkingDays]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DayOfWeek_GetWorkingDays]
AS
BEGIN
    SELECT *
    FROM DaysOfWeek
    WHERE IsWorkingDay = 1
END
GO
