USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ExamPeriod_GetByAcademicYearID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get ExamPeriods By AcademicYearID
CREATE PROCEDURE [dbo].[sp_ExamPeriod_GetByAcademicYearID]
    @AcademicYearID INT
AS
BEGIN
    SELECT * FROM ExamPeriods WHERE AcademicYearID = @AcademicYearID ORDER BY StartDate DESC;
END
GO
