USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_DayOfWeek_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_DayOfWeek_Update]
    @DayName NVARCHAR(10),
    @IsWorkingDay BIT
AS
BEGIN
    UPDATE DaysOfWeek
    SET IsWorkingDay = @IsWorkingDay
    WHERE DayName = @DayName
END
GO
