USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_User_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Insert
CREATE PROCEDURE [dbo].[sp_User_Insert]
    @PersonID INT,
    @UserName NCHAR(55),
    @Password NCHAR(55),
    @IsActive BIT
AS
BEGIN
    INSERT INTO Users (PersonID, UserName, Password, IsActive)
    VALUES (@PersonID, @UserName, @Password, @IsActive);

    SELECT SCOPE_IDENTITY() AS NewUserID;
END
GO
