USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Bonus_GetByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Bonus By ID
CREATE PROCEDURE [dbo].[sp_Bonus_GetByID]
    @BonusID INT
AS
BEGIN
    SELECT * FROM Bonuses WHERE BonusID = @BonusID;
END
GO
