USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[DoesIdentifierExist]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DoesIdentifierExist]
    @IdentifierValue NVARCHAR(100),
    @ExcludeID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(*)
    FROM Identifiers
    WHERE IdentifierValue = @IdentifierValue
      AND (@ExcludeID IS NULL OR IdentifierID != @ExcludeID);
END
GO
