USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Deduction_GetByEmployeeID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Deductions By EmployeeID
CREATE PROCEDURE [dbo].[sp_Deduction_GetByEmployeeID]
    @EmployeeID INT
AS
BEGIN
    SELECT * FROM Deductions WHERE EmployeeID = @EmployeeID ORDER BY Date DESC;
END
GO
