USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Person_GetAllPaged]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Person_GetAllPaged]
    @Offset INT,
    @Fetch INT,
    @Search NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Persons
    WHERE (@Search IS NULL OR FirstName LIKE '%' + @Search + '%' OR SecondName LIKE '%' + @Search + '%' OR LastName LIKE '%' + @Search + '%')
    ORDER BY PersonID
    OFFSET @Offset ROWS
    FETCH NEXT @Fetch ROWS ONLY;
END
GO
