USE [SchoolDB]
GO
/****** Object:  View [dbo].[vw_EmployeeFullDetails]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_EmployeeFullDetails] AS
SELECT 
    E.EmployeeID,

    -- الاسم الكامل
    RTRIM(LTRIM(P.FirstName + ' ' + P.SecondName + ' ' + P.ThirdName + ' ' + P.LastName)) AS FullName,

    -- بيانات الهوية (نأخذ فقط القيمة)
    I.IdentifierValue,

    -- بيانات الاتصال
    P.Phone,
    P.Email,
    P.Address,

    -- اسم الوظيفة ووصفها
    JT.JobTitleName,
    JT.Description AS JobDescription,

    -- تحويل القيم 1/0 إلى نعم / لا
    CASE WHEN JT.IsTeaching = 1 THEN N'نعم' ELSE N'لا' END AS IsTeaching,
    CASE WHEN JT.IsAdministrative = 1 THEN N'نعم' ELSE N'لا' END AS IsAdministrative,
    CASE WHEN JT.CanTeach = 1 THEN N'نعم' ELSE N'لا' END AS CanTeach,
    CASE WHEN JT.RequiresCertification = 1 THEN N'نعم' ELSE N'لا' END AS RequiresCertification,

    -- تواريخ التوظيف
    E.HireDate,
    E.TerminationDate,

    -- تحويل حالة الموظف (IsActive) إلى نعم / لا
    CASE WHEN E.IsActive = 1 THEN N'نعم' ELSE N'لا' END AS EmployeeIsActive,

    -- الراتب والملاحظات
    E.Salary,
    E.Notes AS EmployeeNotes,

    -- بيانات إضافية من الشخص
    CASE 
      WHEN P.Gender = 1 THEN N'ذكر' 
      WHEN P.Gender = 0 THEN N'أنثى' 
      ELSE N'غير معروف' 
    END AS Gender,

    P.BirthDate

FROM 
    Employees E
    INNER JOIN Persons P ON E.PersonID = P.PersonID
    LEFT JOIN Identifiers I ON P.IdentifierID = I.IdentifierID
    LEFT JOIN JobTitles JT ON E.JobTitleID = JT.JobTitleID;
GO
