USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Exam_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Insert Exam
CREATE PROCEDURE [dbo].[sp_Exam_Insert]
    @SubjectID INT,
    @TeacherID INT,
    @ExamDate DATE,
    @TakeDate DATE,
    @Grade SMALLINT,
    @MaxGrade SMALLINT,
    @ExamDocument NVARCHAR(255) = NULL,
    @Notes NVARCHAR(500) = NULL,
    @ExamPeriodID INT,
    @IsActive BIT
AS
BEGIN
    INSERT INTO Exams (SubjectID, TeacherID, ExamDate, TakeDate, Grade, MaxGrade, ExamDocument, Notes, ExamPeriodID, IsActive)
    VALUES (@SubjectID, @TeacherID, @ExamDate, @TakeDate, @Grade, @MaxGrade, @ExamDocument, @Notes, @ExamPeriodID, @IsActive);

    SELECT SCOPE_IDENTITY();
END
GO
