USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentFee_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. Insert
CREATE PROCEDURE [dbo].[sp_StudentFee_Insert]
    @StudentID INT,
    @StageFeeItemID INT,
    @DueDate DATE,
    @Status NVARCHAR(10),
    @Notes NVARCHAR(500) = NULL,
    @TotalPaid DECIMAL(18, 2)
AS
BEGIN
    INSERT INTO StudentFees (StudentID, StageFeeItemID, DueDate, Status, Notes, TotalPaid)
    VALUES (@StudentID, @StageFeeItemID, @DueDate, @Status, @Notes, @TotalPaid);

    SELECT SCOPE_IDENTITY();
END
GO
