USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_EmployeeAttendance_GetByEmployeeIDBetweenDates]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Get Attendance By EmployeeID Between Dates
CREATE PROCEDURE [dbo].[sp_EmployeeAttendance_GetByEmployeeIDBetweenDates]
    @EmployeeID INT,
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM EmployeeAttendance
    WHERE EmployeeID = @EmployeeID
      AND AttendanceDate BETWEEN @StartDate AND @EndDate
    ORDER BY AttendanceDate DESC;
END
GO
