USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[Get_IdentifierByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. جلب معرف معين بالمعرف
CREATE PROCEDURE [dbo].[Get_IdentifierByID]
    @IdentifierID INT
AS
BEGIN
    SELECT IdentifierID, IdentifierTypeID, IdentifierValue
    FROM Identifiers
    WHERE IdentifierID = @IdentifierID;
END
GO
