USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentFee_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Update
CREATE PROCEDURE [dbo].[sp_StudentFee_Update]
    @StudentFeeID INT,
    @StudentID INT,
    @StageFeeItemID INT,
    @DueDate DATE,
    @Status NVARCHAR(10),
    @Notes NVARCHAR(500) = NULL,
    @TotalPaid DECIMAL(18, 2)
AS
BEGIN
    UPDATE StudentFees
    SET StudentID = @StudentID,
        StageFeeItemID = @StageFeeItemID,
        DueDate = @DueDate,
        Status = @Status,
        Notes = @Notes,
        TotalPaid = @TotalPaid
    WHERE StudentFeeID = @StudentFeeID;
END
GO
