USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Schedule_GetByAcademicYearID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Schedules By AcademicYearID
CREATE PROCEDURE [dbo].[sp_Schedule_GetByAcademicYearID]
    @AcademicYearID INT
AS
BEGIN
    SELECT * FROM Schedules WHERE AcademicYearID = @AcademicYearID ORDER BY DayOfWeek, StartTime;
END
GO
