USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudentsEnrollmentCountByDate]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. عدد الطلاب المسجلين (نشطين) ضمن فترة تاريخ تسجيل معينة
CREATE PROCEDURE [dbo].[sp_GetStudentsEnrollmentCountByDate]
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SELECT COUNT(*) AS EnrollmentCount 
    FROM Students
    WHERE IsActive = 1
      AND EnrollmentDate BETWEEN @StartDate AND @EndDate;
END
GO
