USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_JobTitle_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete (return affected rows)
CREATE PROCEDURE [dbo].[sp_JobTitle_Delete]
    @JobTitleID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM JobTitles WHERE JobTitleID = @JobTitleID;

    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
