USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[Update_EmployeeJobTitle]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- الإجراء: تعديل وظيفة
CREATE   PROCEDURE [dbo].[Update_EmployeeJobTitle]
    @JobTitleID INT,
    @JobTitleName NVARCHAR(100),
    @Description NVARCHAR(255) = NULL,
    @IsTeaching BIT,
    @IsAdministrative BIT,
    @CanTeach BIT,
    @RequiresCertification BIT
AS
BEGIN
    UPDATE EmployeeJobTitles
    SET JobTitleName = @JobTitleName,
        Description = @Description,
        IsTeaching = @IsTeaching,
        IsAdministrative = @IsAdministrative,
        CanTeach = @CanTeach,
        RequiresCertification = @RequiresCertification
    WHERE JobTitleID = @JobTitleID;
END
GO
