USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Room_GetByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Room By ID
CREATE PROCEDURE [dbo].[sp_Room_GetByID]
    @RoomID INT
AS
BEGIN
    SELECT * FROM Rooms WHERE RoomID = @RoomID;
END
GO
