USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Result_GetByStudentID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Results By StudentID
CREATE PROCEDURE [dbo].[sp_Result_GetByStudentID]
    @StudentID INT
AS
BEGIN
    SELECT * FROM Results WHERE StudentID = @StudentID ORDER BY ResultID DESC;
END
GO
