USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentPayment_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 1. Insert Payment
CREATE PROCEDURE [dbo].[sp_StudentPayment_Insert]
    @StudentFeeID INT,
    @PaymentDate DATE,
    @AmountPaid DECIMAL(18,2),
    @PaymentMethod NVARCHAR(50),
    @Notes NVARCHAR(255) = NULL
AS
BEGIN
    INSERT INTO studentPayments (StudentFeeID, PaymentDate, AmountPaid, PaymentMethod, Notes)
    VALUES (@StudentFeeID, @PaymentDate, @AmountPaid, @PaymentMethod, @Notes);

    SELECT SCOPE_IDENTITY();
END
GO
