USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_FeeType_GetByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Get By ID
CREATE PROCEDURE [dbo].[sp_FeeType_GetByID]
    @FeeTypeID INT
AS
BEGIN
    SELECT * FROM FeeTypes WHERE FeeTypeID = @FeeTypeID;
END
GO
