USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Guardian_GetByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Get By ID
CREATE PROCEDURE [dbo].[sp_Guardian_GetByID]
    @GuardianID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Guardians
    WHERE GuardianID = @GuardianID;
END
GO
