USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Person_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Person_Insert]
    @FirstName NVARCHAR(20),
    @SecondName NVARCHAR(20),
    @ThirdName NVARCHAR(20),
    @LastName NVARCHAR(20),
    @IdentifierID INT = NULL,
    @Gender BIT,
    @BirthDate DATE = NULL,
    @Phone NCHAR(10),
    @Email NCHAR(100) = NULL,
    @Address NVARCHAR(255) = NULL,
    @ImagePath NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Persons (
        FirstName, SecondName, ThirdName, LastName,
        IdentifierID, Gender, BirthDate, Phone,
        Email, Address, ImagePath
    )
    VALUES (
        @FirstName, @SecondName, @ThirdName, @LastName,
        @IdentifierID, @Gender, @BirthDate, @Phone,
        @Email, @Address, @ImagePath
    );

    SELECT SCOPE_IDENTITY() AS NewPersonID;
END

GO
