USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Class_GetAll]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get All Classes
CREATE PROCEDURE [dbo].[sp_Class_GetAll]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ClassID, ClassName, StageID, Capacity, Notes
    FROM Classes
    ORDER BY ClassName;
END
GO
