USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentAttendance_GetByStatus]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- GetByStatus
CREATE PROCEDURE [dbo].[sp_StudentAttendance_GetByStatus]
    @Status NVARCHAR(20)
AS
BEGIN
    SELECT* FROM StudentAttendance WHERE Status = @Status;
END
GO
