USE [SchoolDB]
GO
/****** Object:  Table [dbo].[StudentStages]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentStages](
	[StudentStageID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[StageID] [int] NOT NULL,
	[AcademicYearID] [int] NOT NULL,
	[EnrollmentDate] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentStageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [UQ_StudentStages]    Script Date: 8/21/2025 5:43:21 PM ******/
ALTER TABLE [dbo].[StudentStages] ADD  CONSTRAINT [UQ_StudentStages] UNIQUE NONCLUSTERED 
(
	[StudentID] ASC,
	[AcademicYearID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StudentStages] ADD  DEFAULT (getdate()) FOR [EnrollmentDate]
GO
ALTER TABLE [dbo].[StudentStages] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[StudentStages]  WITH CHECK ADD  CONSTRAINT [FK_StudentStages_AcademicYear] FOREIGN KEY([AcademicYearID])
REFERENCES [dbo].[AcademicYears] ([AcademicYearID])
GO
ALTER TABLE [dbo].[StudentStages] CHECK CONSTRAINT [FK_StudentStages_AcademicYear]
GO
ALTER TABLE [dbo].[StudentStages]  WITH CHECK ADD  CONSTRAINT [FK_StudentStages_Stage] FOREIGN KEY([StageID])
REFERENCES [dbo].[Stages] ([StageID])
GO
ALTER TABLE [dbo].[StudentStages] CHECK CONSTRAINT [FK_StudentStages_Stage]
GO
ALTER TABLE [dbo].[StudentStages]  WITH CHECK ADD  CONSTRAINT [FK_StudentStages_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[StudentStages] CHECK CONSTRAINT [FK_StudentStages_Student]
GO
