USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentStage_GetByStudentID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get StudentStages By StudentID
CREATE PROCEDURE [dbo].[sp_StudentStage_GetByStudentID]
    @StudentID INT
AS
BEGIN
    SELECT * FROM StudentStages WHERE StudentID = @StudentID ORDER BY EnrollmentDate DESC;
END
GO
