USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Deduction_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Insert Deduction
CREATE PROCEDURE [dbo].[sp_Deduction_Insert]
    @EmployeeID INT,
    @Amount DECIMAL(18,2),
    @Reason NVARCHAR(255),
    @Date DATE,
    @AppliedInSalaryMonth DATE
AS
BEGIN
    INSERT INTO Deductions (EmployeeID, Amount, Reason, Date, AppliedInSalaryMonth)
    VALUES (@EmployeeID, @Amount, @Reason, @Date, @AppliedInSalaryMonth);

    SELECT SCOPE_IDENTITY();
END
GO
