USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Booking_GetByEmployeeID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Bookings By EmployeeID
CREATE PROCEDURE [dbo].[sp_Booking_GetByEmployeeID]
    @EmployeeID INT
AS
BEGIN
    SELECT * FROM Bookings WHERE EmployeeID = @EmployeeID ORDER BY BookingDate DESC, StartTime;
END
GO
