USE [SchoolDB]
GO
/****** Object:  Table [dbo].[StudentAttendance]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentAttendance](
	[AttendanceID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[ScheduleID] [int] NOT NULL,
	[AttendanceDate] [date] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StudentAttendance] ON 

INSERT [dbo].[StudentAttendance] ([AttendanceID], [StudentID], [ScheduleID], [AttendanceDate], [Status], [Notes]) VALUES (3, 1, 2, CAST(N'2025-06-28' AS Date), N'Present', N'First day')
SET IDENTITY_INSERT [dbo].[StudentAttendance] OFF
GO
/****** Object:  Index [UQ_StudentAttendance]    Script Date: 8/21/2025 5:43:21 PM ******/
ALTER TABLE [dbo].[StudentAttendance] ADD  CONSTRAINT [UQ_StudentAttendance] UNIQUE NONCLUSTERED 
(
	[StudentID] ASC,
	[ScheduleID] ASC,
	[AttendanceDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StudentAttendance]  WITH CHECK ADD  CONSTRAINT [FK_StudentAttendance_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[StudentAttendance] CHECK CONSTRAINT [FK_StudentAttendance_Student]
GO
ALTER TABLE [dbo].[StudentAttendance]  WITH CHECK ADD  CONSTRAINT [CK__StudentAt__Statu__5D95E53A] CHECK  (([Status]='Present' OR [Status]='Absent' OR [Status]='Late' OR [Status]='Excused'))
GO
ALTER TABLE [dbo].[StudentAttendance] CHECK CONSTRAINT [CK__StudentAt__Statu__5D95E53A]
GO
