USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[Insert_IdentifierType]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. إدخال سجل جديد وإرجاع المعرف الجديد
CREATE PROCEDURE [dbo].[Insert_IdentifierType]
    @IdentifierName NVARCHAR(100),
    @NewID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        INSERT INTO IdentifierTypes (IdentifierName)
        VALUES (@IdentifierName);

        -- الحصول على المعرف الجديد (الهوية) التي تم إدخالها
        SET @NewID = SCOPE_IDENTITY();
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
