USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Result_GetByExamID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Results By ExamID
CREATE PROCEDURE [dbo].[sp_Result_GetByExamID]
    @ExamID INT
AS
BEGIN
    SELECT * FROM Results WHERE ExamID = @ExamID ORDER BY ResultID DESC;
END
GO
