USE [SchoolDB]
GO
/****** Object:  Table [dbo].[Deductions]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deductions](
	[DeductionID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Reason] [nvarchar](255) NULL,
	[Date] [date] NOT NULL,
	[AppliedInSalaryMonth] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeductionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Deductions] ON 

INSERT [dbo].[Deductions] ([DeductionID], [EmployeeID], [Amount], [Reason], [Date], [AppliedInSalaryMonth]) VALUES (1, 1, CAST(150.00 AS Decimal(18, 2)), N'تأخير عن العمل', CAST(N'2025-07-16' AS Date), CAST(N'2025-07-01' AS Date))
INSERT [dbo].[Deductions] ([DeductionID], [EmployeeID], [Amount], [Reason], [Date], [AppliedInSalaryMonth]) VALUES (3, 1, CAST(150.00 AS Decimal(18, 2)), N'تأخير عن العمل', CAST(N'2025-07-16' AS Date), CAST(N'2025-07-01' AS Date))
INSERT [dbo].[Deductions] ([DeductionID], [EmployeeID], [Amount], [Reason], [Date], [AppliedInSalaryMonth]) VALUES (4, 1, CAST(150.00 AS Decimal(18, 2)), N'تأخير عن العمل', CAST(N'2025-07-16' AS Date), CAST(N'2025-07-01' AS Date))
SET IDENTITY_INSERT [dbo].[Deductions] OFF
GO
ALTER TABLE [dbo].[Deductions]  WITH CHECK ADD  CONSTRAINT [FK_Deductions_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Deductions] CHECK CONSTRAINT [FK_Deductions_Employees]
GO
