USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Booking_GetAll]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get All Bookings
CREATE PROCEDURE [dbo].[sp_Booking_GetAll]
AS
BEGIN
    SELECT * FROM Bookings ORDER BY BookingDate DESC, StartTime;
END
GO
