USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Deduction_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update Deduction
CREATE PROCEDURE [dbo].[sp_Deduction_Update]
    @DeductionID INT,
    @EmployeeID INT,
    @Amount DECIMAL(18,2),
    @Reason NVARCHAR(255),
    @Date DATE,
    @AppliedInSalaryMonth DATE
AS
BEGIN
    UPDATE Deductions
    SET EmployeeID = @EmployeeID,
        Amount = @Amount,
        Reason = @Reason,
        Date = @Date,
        AppliedInSalaryMonth = @AppliedInSalaryMonth
    WHERE DeductionID = @DeductionID;
END
GO
