USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_MonthlySalary_GetByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 4. Get salary record by SalaryID
CREATE PROCEDURE [dbo].[sp_MonthlySalary_GetByID]
    @SalaryID INT
AS
BEGIN
    SELECT * FROM MonthlySalaries WHERE SalaryID = @SalaryID;
END
GO
