USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Room_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update Room
CREATE PROCEDURE [dbo].[sp_Room_Update]
    @RoomID INT,
    @RoomName NVARCHAR(100),
    @RoomTypeID INT,
    @Capacity INT,
    @Location NVARCHAR(100),
    @IsAvailable BIT,
    @IsReservable BIT,
    @Notes NVARCHAR(500) = NULL
AS
BEGIN
    UPDATE Rooms
    SET RoomName = @RoomName,
        RoomTypeID = @RoomTypeID,
        Capacity = @Capacity,
        Location = @Location,
        IsAvailable = @IsAvailable,
        IsReservable = @IsReservable,
        Notes = @Notes
    WHERE RoomID = @RoomID;
END
GO
