USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentAttendance_GetAll]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- GetAll
CREATE PROCEDURE [dbo].[sp_StudentAttendance_GetAll]
AS
BEGIN
    SELECT* FROM StudentAttendance;
END
GO
