USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_AcademicYear_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete AcademicYear
CREATE PROCEDURE [dbo].[sp_AcademicYear_Delete]
    @AcademicYearID INT
AS
BEGIN
    DELETE FROM AcademicYears WHERE AcademicYearID = @AcademicYearID;
END
GO
