USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ExamType_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete ExamType
CREATE PROCEDURE [dbo].[sp_ExamType_Delete]
    @ExamTypeID INT
AS
BEGIN
    DELETE FROM ExamTypes WHERE ExamTypeID = @ExamTypeID;
END
GO
