USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[InsertErrorLog]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertErrorLog]
    @ErrorMessage NVARCHAR(MAX),
    @StackTrace NVARCHAR(MAX),
    @Source NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO ErrorLogs (ErrorMessage, StackTrace, Source)
    VALUES (@ErrorMessage, @StackTrace, @Source);
END
GO
