USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_EmployeeSalaryHistory_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- تحديث سجل راتب
CREATE PROCEDURE [dbo].[sp_EmployeeSalaryHistory_Update]
    @SalaryID INT,
    @EmployeeID INT,
    @EffectiveDate DATE,
    @BaseSalary DECIMAL(18,2),
    @Allowances DECIMAL(18,2),
    @Deductions DECIMAL(18,2),
    @Notes NVARCHAR(500)
AS
BEGIN
    UPDATE EmployeesSalaryHistory SET
        EmployeeID = @EmployeeID,
        EffectiveDate = @EffectiveDate,
        BaseSalary = @BaseSalary,
        Allowances = @Allowances,
        Deductions = @Deductions,
        Notes = @Notes
    WHERE SalaryID = @SalaryID;
END
GO
