USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ExamPeriod_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete ExamPeriod
CREATE PROCEDURE [dbo].[sp_ExamPeriod_Delete]
    @ExamPeriodID INT
AS
BEGIN
    DELETE FROM ExamPeriods WHERE ExamPeriodID = @ExamPeriodID;
END
GO
