USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentPayment_GetByStudentFeeID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6. Get Payments By StudentFeeID
CREATE PROCEDURE [dbo].[sp_StudentPayment_GetByStudentFeeID]
    @StudentFeeID INT
AS
BEGIN
    SELECT * FROM studentPayments WHERE StudentFeeID = @StudentFeeID ORDER BY PaymentDate DESC;
END
GO
