USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Booking_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Insert Booking
CREATE PROCEDURE [dbo].[sp_Booking_Insert]
    @RoomID INT,
    @EmployeeID INT,
    @Purpose NVARCHAR(100),
    @BookingDate DATE,
    @StartTime DATETIME,
    @EndTime DATETIME,
    @Status NVARCHAR(20),
    @Notes NVARCHAR(500) = NULL,
    @RecurrenceType NVARCHAR(50) = NULL,
    @RecurrenceEndDate DATE = NULL
AS
BEGIN
    INSERT INTO Bookings
    (RoomID, EmployeeID, Purpose, BookingDate, StartTime, EndTime, Status, Notes, RecurrenceType, RecurrenceEndDate)
    VALUES
    (@RoomID, @EmployeeID, @Purpose, @BookingDate, @StartTime, @EndTime, @Status, @Notes, @RecurrenceType, @RecurrenceEndDate);

    SELECT SCOPE_IDENTITY();
END
GO
