USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Booking_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update Booking
CREATE PROCEDURE [dbo].[sp_Booking_Update]
    @BookingID INT,
    @RoomID INT,
    @EmployeeID INT,
    @Purpose NVARCHAR(100),
    @BookingDate DATE,
    @StartTime DATETIME,
    @EndTime DATETIME,
    @Status NVARCHAR(20),
    @Notes NVARCHAR(500) = NULL,
    @RecurrenceType NVARCHAR(50) = NULL,
    @RecurrenceEndDate DATE = NULL
AS
BEGIN
    UPDATE Bookings
    SET RoomID = @RoomID,
        EmployeeID = @EmployeeID,
        Purpose = @Purpose,
        BookingDate = @BookingDate,
        StartTime = @StartTime,
        EndTime = @EndTime,
        Status = @Status,
        Notes = @Notes,
        RecurrenceType = @RecurrenceType,
        RecurrenceEndDate = @RecurrenceEndDate
    WHERE BookingID = @BookingID;
END
GO
