USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_MonthlySalary_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 2. Update existing salary record (بدون NetSalary)
CREATE PROCEDURE [dbo].[sp_MonthlySalary_Update]
    @SalaryID INT,
    @EmployeeID INT,
    @SalaryMonth DATE,
    @BaseSalary DECIMAL(18,2),
    @AbsenceDays INT,
    @DeductionPerAbsent DECIMAL(18,2),
    @Paid BIT,
    @PaymentDate DATE = NULL
AS
BEGIN
    UPDATE MonthlySalaries
    SET EmployeeID = @EmployeeID,
        SalaryMonth = @SalaryMonth,
        BaseSalary = @BaseSalary,
        AbsenceDays = @AbsenceDays,
        DeductionPerAbsent = @DeductionPerAbsent,
        Paid = @Paid,
        PaymentDate = @PaymentDate
    WHERE SalaryID = @SalaryID;
END
GO
