USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Exam_GetAll]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get All Exams
CREATE PROCEDURE [dbo].[sp_Exam_GetAll]
AS
BEGIN
    SELECT * FROM Exams ORDER BY ExamDate DESC;
END
GO
