USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[Get_Teaching_JobTitles]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- الإجراء: جلب الوظائف التعليمية فقط
CREATE   PROCEDURE [dbo].[Get_Teaching_JobTitles]
AS
BEGIN
    SELECT *
    FROM EmployeeJobTitles
    WHERE IsTeaching = 1;
END
GO
