USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Schedule_GetByTeacherID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Schedules By TeacherID
CREATE PROCEDURE [dbo].[sp_Schedule_GetByTeacherID]
    @TeacherID INT
AS
BEGIN
    SELECT * FROM Schedules WHERE TeacherID = @TeacherID ORDER BY DayOfWeek, StartTime;
END
GO
