USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Stage_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Stage_Delete]
    @StageID INT
AS
BEGIN
    DELETE FROM Stages
    WHERE StageID = @StageID;

    SELECT @@ROWCOUNT; -- Return affected rows
END
GO
