USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[Insert_EmployeeJobTitle]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- الإجراء: إدخال وظيفة جديدة
CREATE   PROCEDURE [dbo].[Insert_EmployeeJobTitle]
    @JobTitleName NVARCHAR(100),
    @Description NVARCHAR(255) = NULL,
    @IsTeaching BIT,
    @IsAdministrative BIT,
    @CanTeach BIT,
    @RequiresCertification BIT
AS
BEGIN
    INSERT INTO EmployeeJobTitles (JobTitleName, Description, IsTeaching, IsAdministrative, CanTeach, RequiresCertification)
    VALUES (@JobTitleName, @Description, @IsTeaching, @IsAdministrative, @CanTeach, @RequiresCertification);
END
GO
