USE [SchoolDB]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[JobTitleID] [int] NOT NULL,
	[HireDate] [date] NOT NULL,
	[TerminationDate] [date] NULL,
	[IsActive] [bit] NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[Salary] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [PersonID], [JobTitleID], [HireDate], [TerminationDate], [IsActive], [Notes], [Salary]) VALUES (1, 103, 1, CAST(N'2015-09-01' AS Date), NULL, 1, N'معلم مادة الرياضيات', CAST(3000 AS Decimal(18, 0)))
INSERT [dbo].[Employees] ([EmployeeID], [PersonID], [JobTitleID], [HireDate], [TerminationDate], [IsActive], [Notes], [Salary]) VALUES (2, 104, 2, CAST(N'2017-01-15' AS Date), NULL, 1, N'معلم مساعد في العلوم', CAST(2800 AS Decimal(18, 0)))
INSERT [dbo].[Employees] ([EmployeeID], [PersonID], [JobTitleID], [HireDate], [TerminationDate], [IsActive], [Notes], [Salary]) VALUES (3, 105, 3, CAST(N'2012-08-20' AS Date), NULL, 1, N'مشرف تربوي لقسم اللغة العربية', CAST(3200 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_JobTitle] FOREIGN KEY([JobTitleID])
REFERENCES [dbo].[JobTitles] ([JobTitleID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_JobTitle]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Person] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Persons] ([PersonID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Person]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD CHECK  (([HireDate]<=getdate()))
GO
