USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Subject_GetActive]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Subject_GetActive]
AS
BEGIN
    SELECT * FROM Subjects WHERE IsActive = 1
END
GO
