USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_AcademicYear_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Insert AcademicYear
CREATE PROCEDURE [dbo].[sp_AcademicYear_Insert]
    @AcademicYearName NVARCHAR(50),
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    INSERT INTO AcademicYears (AcademicYearName, StartDate, EndDate)
    VALUES (@AcademicYearName, @StartDate, @EndDate);

    SELECT SCOPE_IDENTITY();
END
GO
