USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Room_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Insert Room
CREATE PROCEDURE [dbo].[sp_Room_Insert]
    @RoomName NVARCHAR(100),
    @RoomTypeID INT,
    @Capacity INT,
    @Location NVARCHAR(100),
    @IsAvailable BIT,
    @IsReservable BIT,
    @Notes NVARCHAR(500) = NULL
AS
BEGIN
    INSERT INTO Rooms (RoomName, RoomTypeID, Capacity, Location, IsAvailable, IsReservable, Notes)
    VALUES (@RoomName, @RoomTypeID, @Capacity, @Location, @IsAvailable, @IsReservable, @Notes);

    SELECT SCOPE_IDENTITY();
END
GO
