USE [SchoolDB]
GO
/****** Object:  Table [dbo].[Guardians]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guardians](
	[GuardianID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[Jobs] [nvarchar](50) NOT NULL,
	[Notes] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[GuardianID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Guardians] ON 

INSERT [dbo].[Guardians] ([GuardianID], [PersonID], [Jobs], [Notes]) VALUES (1, 6, N'مهندس', N'ولي أمر مسؤول وملتزم')
INSERT [dbo].[Guardians] ([GuardianID], [PersonID], [Jobs], [Notes]) VALUES (2, 8, N'طبيب', N'ولي أمر داعم')
INSERT [dbo].[Guardians] ([GuardianID], [PersonID], [Jobs], [Notes]) VALUES (3, 10, N'معلم', N'ولي أمر متابع دراسيًا')
SET IDENTITY_INSERT [dbo].[Guardians] OFF
GO
ALTER TABLE [dbo].[Guardians]  WITH CHECK ADD  CONSTRAINT [FK_Guardians_Persons] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Persons] ([PersonID])
GO
ALTER TABLE [dbo].[Guardians] CHECK CONSTRAINT [FK_Guardians_Persons]
GO
