USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Class_GetByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Class By ID
CREATE PROCEDURE [dbo].[sp_Class_GetByID]
    @ClassID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ClassID, ClassName, StageID, Capacity, Notes
    FROM Classes
    WHERE ClassID = @ClassID;
END
GO
