USE [SchoolDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalculateMonthlyGrade]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalculateMonthlyGrade]
(
    @StudentID INT,
    @SubjectID INT,
    @MonthStartDate DATE,
    @MonthEndDate DATE,
    @AcademicYearID INT
)
RETURNS DECIMAL(5,2)
AS
BEGIN
    DECLARE @WeeklySum DECIMAL(5,2) = 0;
    DECLARE @WeeklyCount INT = 0;
    DECLARE @MonthlyExamScore DECIMAL(5,2);

    -- جمع درجات الأسابيع ضمن الشهر
    SELECT 
        @WeeklySum = ISNULL(SUM(WeeklyGrade),0),
        @WeeklyCount = COUNT(*)
    FROM (
        SELECT dbo.fn_CalculateWeeklyGrade(@StudentID, @SubjectID, WeekStartDate, DATEADD(DAY,6,WeekStartDate), @AcademicYearID) AS WeeklyGrade
        FROM (
            SELECT DISTINCT DATEADD(DAY, - (DATEPART(WEEKDAY, AttendanceDate) - 2), AttendanceDate) AS WeekStartDate
            FROM StudentAttendance
            WHERE StudentID = @StudentID
              AND AttendanceDate BETWEEN @MonthStartDate AND @MonthEndDate
        ) AS Weeks
    ) AS WeeklyGrades;

    -- متوسط درجات الأسابيع (60%)
    DECLARE @WeeklyAverage DECIMAL(5,2) = CASE WHEN @WeeklyCount > 0 THEN @WeeklySum / @WeeklyCount ELSE 0 END;

    -- درجة الاختبار الشهري (40%)
    SELECT 
        @MonthlyExamScore = ISNULL(SUM(
            R.Score / E.MaxGrade * 40
        ), 0)
    FROM Results R
    JOIN Exams E ON R.ExamID = E.ExamID
    JOIN ExamPeriods EP ON E.ExamPeriodID = EP.ExamPeriodID
    JOIN ExamTypes ET ON EP.ExamTypeID = ET.ExamTypeID
    WHERE R.StudentID = @StudentID
      AND E.SubjectID = @SubjectID
      AND ET.ExamTypeName = 'شهري'
      AND E.ExamDate BETWEEN @MonthStartDate AND @MonthEndDate;

    RETURN (@WeeklyAverage * 0.6) + ISNULL(@MonthlyExamScore, 0);
END;


GO
