USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_User_ExistsByUsernameAndPassword]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 9. Check if Exists by Username and Password
CREATE PROCEDURE [dbo].[sp_User_ExistsByUsernameAndPassword]
    @UserName NCHAR(55),
    @Password NCHAR(55)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Users WHERE UserName = @UserName AND Password = @Password)
        SELECT 1 AS ExistsResult;
    ELSE
        SELECT 0 AS ExistsResult;
END
GO
