USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentPayment_GetAll]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Get All Payments
CREATE PROCEDURE [dbo].[sp_StudentPayment_GetAll]
AS
BEGIN
    SELECT * FROM studentPayments;
END
GO
