USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Person_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_Person_Update]
    @PersonID INT,
    @FirstName NVARCHAR(20),
    @SecondName NVARCHAR(20),
    @ThirdName NVARCHAR(20),
    @LastName NVARCHAR(20),
    @IdentifierID INT = NULL,
    @Gender BIT,
    @BirthDate DATE = NULL,
    @Phone NCHAR(10),
    @Email NCHAR(100) = NULL,
    @Address NVARCHAR(255) = NULL,
    @ImagePath NVARCHAR(255) = NULL
AS
BEGIN

    UPDATE Persons
    SET
        FirstName = @FirstName,
        SecondName = @SecondName,
        ThirdName = @ThirdName,
        LastName = @LastName,
        IdentifierID = @IdentifierID,
        Gender = @Gender,
        BirthDate = @BirthDate,
        Phone = @Phone,
        Email = @Email,
        Address = @Address,
        ImagePath = @ImagePath
    WHERE PersonID = @PersonID;
END
GO
