USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Person_GetByPhone]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_Person_GetByPhone]
@Phone nchar(15)
as 
begin 
	select * from Persons where Phone = @Phone;
end
GO
