USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentAttendance_GetByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- GetByID
CREATE PROCEDURE [dbo].[sp_StudentAttendance_GetByID]
    @AttendanceID INT
AS
BEGIN
    SELECT* FROM StudentAttendance WHERE AttendanceID = @AttendanceID;
END
GO
