USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_User_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_User_Update]
    @UserID INT,
    @PersonID INT,
    @UserName NCHAR(55),
    @Password NCHAR(55),
    @IsActive BIT
AS
BEGIN
    UPDATE Users
    SET PersonID = @PersonID,
        UserName = @UserName,
        Password = @Password,
        IsActive = @IsActive
    WHERE UserID = @UserID;
END
GO
