USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Student_GetByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Student By ID
CREATE PROCEDURE [dbo].[sp_Student_GetByID]
    @StudentID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM Students WHERE StudentID = @StudentID;
END
GO
