USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[Get_All_IdentifierTypes]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. جلب كل السجلات
CREATE PROCEDURE [dbo].[Get_All_IdentifierTypes]
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT IdentifierTypeID, IdentifierName
        FROM IdentifierTypes
        ORDER BY IdentifierTypeID;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
