USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Schedule_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Insert Schedule
CREATE PROCEDURE [dbo].[sp_Schedule_Insert]
    @ClassID INT,
    @SubjectID INT,
    @TeacherID INT,
    @RoomID INT,
    @DayOfWeek NVARCHAR(10),
    @StartTime TIME(7),
    @EndTime TIME(7),
    @AcademicYearID INT,
    @Notes NVARCHAR(300) = NULL
AS
BEGIN
    INSERT INTO Schedules
    (ClassID, SubjectID, TeacherID, RoomID, DayOfWeek, StartTime, EndTime, AcademicYearID, Notes)
    VALUES
    (@ClassID, @SubjectID, @TeacherID, @RoomID, @DayOfWeek, @StartTime, @EndTime, @AcademicYearID, @Notes);

    SELECT SCOPE_IDENTITY();
END
GO
