USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentInstallment_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_StudentInstallment_Insert]
    @StudentFeeID INT,
    @DueDate DATE,
    @Amount DECIMAL(18,2),
    @IsPaid BIT = NULL,
    @Notes NVARCHAR(255) = NULL
AS
BEGIN
    INSERT INTO StudentFeeInstallments (StudentFeeID, DueDate, Amount, IsPaid, Notes)
    VALUES (@StudentFeeID, @DueDate, @Amount, @IsPaid, @Notes);

    SELECT SCOPE_IDENTITY();
END
GO
