USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Guardian_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Guardian_Delete]
    @GuardianID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Guardians
    WHERE GuardianID = @GuardianID;

    -- إرجاع عدد الصفوف المتأثرة
    SELECT @@ROWCOUNT;
END
GO
