USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[GetUserByUserName]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 6. جلب مستخدم بالـ UserName فقط
CREATE PROCEDURE [dbo].[GetUserByUserName]
    @UserName NCHAR(55)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT UserID, PersonID, UserName, Password, IsActive
    FROM Users
    WHERE UserName = @UserName;
END
GO
