USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentPayment_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Delete Payment
CREATE PROCEDURE [dbo].[sp_StudentPayment_Delete]
    @PaymentID INT
AS
BEGIN
    DELETE FROM studentPayments WHERE PaymentID = @PaymentID;
END
GO
