USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Person_GetByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Person_GetByID]
    @PersonID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM Persons WHERE PersonID = @PersonID;
END
GO
