USE [SchoolDB]
GO
/****** Object:  Table [dbo].[StudentDiscipline]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentDiscipline](
	[DisciplineID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[DisciplineDate] [date] NOT NULL,
	[Points] [int] NOT NULL,
	[Notes] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DisciplineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StudentDiscipline] ADD  DEFAULT ((100)) FOR [Points]
GO
ALTER TABLE [dbo].[StudentDiscipline]  WITH CHECK ADD  CONSTRAINT [FK_StudentDiscipline_Students1] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[StudentDiscipline] CHECK CONSTRAINT [FK_StudentDiscipline_Students1]
GO
