USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentInstallment_GetTotalRemaining]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_StudentInstallment_GetTotalRemaining]
AS
BEGIN
    SELECT ISNULL(SUM(Amount), 0) FROM StudentFeeInstallments WHERE IsPaid = 0 OR IsPaid IS NULL;
END
GO
