USE [SchoolDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalculateTermGrade]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_CalculateTermGrade]
(
    @StudentID INT,
    @SubjectID INT,
    @TermStartDate DATE,
    @TermEndDate DATE,
    @AcademicYearID INT
)
RETURNS DECIMAL(5,2)
AS
BEGIN
    DECLARE @MonthlySum DECIMAL(5,2) = 0;
    DECLARE @MonthlyCount INT = 0;
    DECLARE @TermExamScore DECIMAL(5,2);

    -- جمع درجات الشهور ضمن الفصل
    SELECT 
        @MonthlySum = ISNULL(SUM(MonthlyGrade),0),
        @MonthlyCount = COUNT(*)
    FROM (
        SELECT dbo.fn_CalculateMonthlyGrade(@StudentID, @SubjectID, MonthStartDate, EOMONTH(MonthStartDate), @AcademicYearID) AS MonthlyGrade
        FROM (
            SELECT DISTINCT DATEADD(MONTH, DATEDIFF(MONTH, 0, ExamDate), 0) AS MonthStartDate
            FROM Exams
            WHERE ExamDate BETWEEN @TermStartDate AND @TermEndDate
              AND SubjectID = @SubjectID
        ) AS Months
    ) AS MonthlyGrades;

    DECLARE @MonthlyAverage DECIMAL(5,2) = CASE WHEN @MonthlyCount > 0 THEN @MonthlySum / @MonthlyCount ELSE 0 END;

    -- درجة اختبار الترم (40%)
    SELECT 
        @TermExamScore = ISNULL(SUM(
            R.Score / E.MaxGrade * 40
        ), 0)
    FROM Results R
    JOIN Exams E ON R.ExamID = E.ExamID
    JOIN ExamPeriods EP ON E.ExamPeriodID = EP.ExamPeriodID
    JOIN ExamTypes ET ON EP.ExamTypeID = ET.ExamTypeID
    WHERE R.StudentID = @StudentID
      AND E.SubjectID = @SubjectID
      AND ET.ExamTypeName = 'ترمي'
      AND E.ExamDate BETWEEN @TermStartDate AND @TermEndDate;

    RETURN (@MonthlyAverage * 0.6) + ISNULL(@TermExamScore, 0);
END;

GO
