USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudentsEnrollment]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. قائمة الطلاب المسجلين (نشطين فقط) مع معلومات أساسية (PersonID + تاريخ التسجيل + المرحلة)
CREATE PROCEDURE [dbo].[sp_GetStudentsEnrollment]
AS
BEGIN
    SELECT 
        s.StudentID, s.PersonID, s.EnrollmentDate, s.StageID, s.IsActive,
        p.FirstName, p.SecondName, p.ThirdName, p.LastName
    FROM Students s
    INNER JOIN Persons p ON s.PersonID = p.PersonID
    WHERE s.IsActive = 1
    ORDER BY s.EnrollmentDate DESC;
END
GO
