USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_EmployeeAttendance_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Insert
CREATE PROCEDURE [dbo].[sp_EmployeeAttendance_Insert]
    @EmployeeID INT,
    @AttendanceDate DATE,
    @CheckInTime TIME(7) = NULL,
    @CheckOutTime TIME(7) = NULL,
    @Status NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO EmployeeAttendance (EmployeeID, AttendanceDate, CheckInTime, CheckOutTime, Status)
    VALUES (@EmployeeID, @AttendanceDate, @CheckInTime, @CheckOutTime, @Status);

    SELECT SCOPE_IDENTITY() AS NewAttendanceID;
END
GO
