USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[Get_All_Identifiers]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. جلب جميع المعرفات
CREATE PROCEDURE [dbo].[Get_All_Identifiers]
AS
BEGIN
    SELECT IdentifierID, IdentifierTypeID, IdentifierValue
    FROM Identifiers;
END
GO
