USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[GetUserByUserNameAndPassword]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 7. جلب مستخدم بالـ UserName و Password
CREATE PROCEDURE [dbo].[GetUserByUserNameAndPassword]
    @UserName NCHAR(55),
    @Password NCHAR(55)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT UserID, PersonID, UserName, Password, IsActive
    FROM Users
    WHERE UserName = @UserName
      AND Password = @Password;
END
GO
