USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ExamPeriod_GetByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get ExamPeriod By ID
CREATE PROCEDURE [dbo].[sp_ExamPeriod_GetByID]
    @ExamPeriodID INT
AS
BEGIN
    SELECT * FROM ExamPeriods WHERE ExamPeriodID = @ExamPeriodID;
END
GO
