USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Person_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Person_Delete]
    @PersonID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Persons WHERE PersonID = @PersonID;

    -- ارجع عدد الصفوف التي تم حذفها
    SELECT @@ROWCOUNT AS RowsDeleted;
END
GO
