USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentStage_GetByAcademicYearID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- البحث حسب AcademicYearID
CREATE PROCEDURE [dbo].[sp_StudentStage_GetByAcademicYearID]
    @AcademicYearID INT
AS
BEGIN
    SELECT * FROM StudentStages WHERE AcademicYearID = @AcademicYearID ORDER BY EnrollmentDate DESC;
END
GO
