USE [SchoolDB]
GO
/****** Object:  View [dbo].[vw_WeeklyRoomSchedule]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_WeeklyRoomSchedule] AS
SELECT 
    R.RoomName,
    C.ClassName,
    S.SubjectName,
    E.EmployeeID,
    SC.DayOfWeek,
    SC.StartTime,
    SC.EndTime,
    AY.AcademicYearID
FROM Schedules SC
JOIN Rooms R ON SC.RoomID = R.RoomID
JOIN Classes C ON SC.ClassID = C.ClassID
JOIN Subjects S ON SC.SubjectID = S.SubjectID
JOIN Employees E ON SC.TeacherID = E.EmployeeID
JOIN AcademicYears AY ON SC.AcademicYearID = AY.AcademicYearID
GO
