USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[Delete_EmployeeJobTitle]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- الإجراء: حذف وظيفة
CREATE   PROCEDURE [dbo].[Delete_EmployeeJobTitle]
    @JobTitleID INT
AS
BEGIN
    DELETE FROM EmployeeJobTitles
    WHERE JobTitleID = @JobTitleID;
END
GO
