USE [SchoolDB]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[GuardianID] [int] NOT NULL,
	[EnrollmentDate] [date] NOT NULL,
	[StageID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DocumentPath] [nvarchar](512) NULL,
	[Notes] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentID], [PersonID], [GuardianID], [EnrollmentDate], [StageID], [IsActive], [DocumentPath], [Notes]) VALUES (1, 6, 5, CAST(N'2024-01-10' AS Date), 14, 0, NULL, NULL)
INSERT [dbo].[Students] ([StudentID], [PersonID], [GuardianID], [EnrollmentDate], [StageID], [IsActive], [DocumentPath], [Notes]) VALUES (2, 8, 3, CAST(N'2023-09-01' AS Date), 14, 1, NULL, NULL)
INSERT [dbo].[Students] ([StudentID], [PersonID], [GuardianID], [EnrollmentDate], [StageID], [IsActive], [DocumentPath], [Notes]) VALUES (3, 10, 7, CAST(N'2024-01-15' AS Date), 10, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Guardians] FOREIGN KEY([GuardianID])
REFERENCES [dbo].[Guardians] ([GuardianID])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Guardians]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Persons] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Persons] ([PersonID])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Persons]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Stages] FOREIGN KEY([StageID])
REFERENCES [dbo].[Stages] ([StageID])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Stages]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD CHECK  (([EnrollmentDate]<=CONVERT([date],getdate())))
GO
