USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentAttendance_IsRelated]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_StudentAttendance_IsRelated]
    @AttendanceID INT,
    @IsRelated BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- مثال: تحقق إذا كان يوجد سجل مرتبط في جدول آخر
    -- يمكن تعديل حسب قاعدة البيانات لديك
    IF EXISTS (
        SELECT 1
        FROM SomeOtherTable
        WHERE AttendanceID = @AttendanceID
    )
    BEGIN
        SET @IsRelated = 1;
    END
    ELSE
    BEGIN
        SET @IsRelated = 0;
    END
END
GO
