USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Student_UpdateIsActive]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Update Student IsActive
CREATE PROCEDURE [dbo].[sp_Student_UpdateIsActive]
    @StudentID INT,
    @IsActive BIT
AS
BEGIN
    SET NOCOUNT OFF;

    UPDATE Students
    SET IsActive = @IsActive
    WHERE StudentID = @StudentID;

    -- يرجع عدد الصفوف المتأثرة
    RETURN @@ROWCOUNT;
END
GO
