USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Bonus_GetByAppliedSalaryMonth]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Bonus_GetByAppliedSalaryMonth]
    @EmployeeID INT,
    @AppliedInSalaryMonth DATE
AS
BEGIN
    SELECT *
    FROM Bonuses
    WHERE EmployeeID = @EmployeeID
      AND AppliedInSalaryMonth = @AppliedInSalaryMonth
    ORDER BY Date DESC;
END
GO
