USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_MonthlySalary_GetLastByEmployee]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_MonthlySalary_GetLastByEmployee]
    @EmployeeID INT
AS
BEGIN
    SELECT TOP 1 *
    FROM MonthlySalaries
    WHERE EmployeeID = @EmployeeID
    ORDER BY SalaryMonth DESC;
END
GO
