USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[Update_JobTitle_IsTeaching]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   PROCEDURE [dbo].[Update_JobTitle_IsTeaching]
    @JobTitleID INT,
    @IsTeaching BIT
AS
BEGIN
    UPDATE EmployeeJobTitles
    SET IsTeaching = @IsTeaching
    WHERE JobTitleID = @JobTitleID;
END
GO
