USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentAttendance_Exists]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_StudentAttendance_Exists]
    @StudentID INT,
    @ScheduleID INT,
    @AttendanceDate DATE
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM StudentAttendance
        WHERE StudentID = @StudentID
          AND ScheduleID = @ScheduleID
          AND AttendanceDate = @AttendanceDate
    )
        SELECT 1;
    ELSE
        SELECT 0;
END
GO
