USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_MonthlySalary_UpdatePaidStatus]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 9. Update only Paid status and PaymentDate
CREATE PROCEDURE [dbo].[sp_MonthlySalary_UpdatePaidStatus]
    @SalaryID INT,
    @Paid BIT,
    @PaymentDate DATE = NULL
AS
BEGIN
    UPDATE MonthlySalaries
    SET Paid = @Paid,
        PaymentDate = CASE WHEN @Paid = 1 THEN ISNULL(@PaymentDate, GETDATE()) ELSE NULL END
    WHERE SalaryID = @SalaryID;
    
    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
