USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Exam_GetByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Exam By ID
CREATE PROCEDURE [dbo].[sp_Exam_GetByID]
    @ExamID INT
AS
BEGIN
    SELECT * FROM Exams WHERE ExamID = @ExamID;
END
GO
