USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentStage_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update StudentStage
CREATE PROCEDURE [dbo].[sp_StudentStage_Update]
    @StudentStageID INT,
    @StudentID INT,
    @StageID INT,
    @AcademicYearID INT,
    @EnrollmentDate DATE,
    @IsActive BIT
AS
BEGIN
    UPDATE StudentStages
    SET StudentID = @StudentID,
        StageID = @StageID,
        AcademicYearID = @AcademicYearID,
        EnrollmentDate = @EnrollmentDate,
        IsActive = @IsActive
    WHERE StudentStageID = @StudentStageID;
END
GO
