USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentAttendance_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete
CREATE PROCEDURE [dbo].[sp_StudentAttendance_Delete]
    @AttendanceID INT
AS
BEGIN
    DELETE FROM StudentAttendance WHERE AttendanceID = @AttendanceID;
    SELECT @@ROWCOUNT;
    END
GO
