USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 3. حذف مستخدم
CREATE PROCEDURE [dbo].[DeleteUser]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Users
    WHERE UserID = @UserID;
END
GO
