USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Subject_GetByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Subject By ID
CREATE PROCEDURE [dbo].[sp_Subject_GetByID]
    @SubjectID INT
AS
BEGIN
    SELECT * FROM Subjects WHERE SubjectID = @SubjectID;
END
GO
