USE [SchoolDB]
GO
/****** Object:  View [dbo].[vw_EmployeeMonthlyAttendance]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_EmployeeMonthlyAttendance] AS
SELECT
    e.EmployeeID,
    p.FirstName + ' ' + p.SecondName + ' ' + p.ThirdName + ' ' + p.LastName AS FullName,
    FORMAT(a.AttendanceDate, 'yyyy-MM') AS SalaryMonth,
    COUNT(*) AS PresentDays
FROM EmployeeAttendance a
JOIN Employees e ON a.EmployeeID = e.EmployeeID
JOIN Persons p ON e.PersonID = p.PersonID
WHERE a.Status = 'Present'
GROUP BY e.EmployeeID, p.FirstName, p.SecondName, p.ThirdName, p.LastName, FORMAT(a.AttendanceDate, 'yyyy-MM');
GO
