USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_AcademicYear_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update AcademicYear
CREATE PROCEDURE [dbo].[sp_AcademicYear_Update]
    @AcademicYearID INT,
    @AcademicYearName NVARCHAR(50),
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    UPDATE AcademicYears
    SET AcademicYearName = @AcademicYearName,
        StartDate = @StartDate,
        EndDate = @EndDate
    WHERE AcademicYearID = @AcademicYearID;
END
GO
