USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Employee_GetByPhone]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Employee_GetByPhone]
    @Phone NVARCHAR(50)
AS
BEGIN
    SELECT TOP 1 *
    FROM Employees e
    INNER JOIN Persons p ON e.PersonID = p.PersonID
    WHERE p.Phone = @Phone
END


GO
