USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Bonus_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete Bonus
CREATE PROCEDURE [dbo].[sp_Bonus_Delete]
    @BonusID INT
AS
BEGIN
    DELETE FROM Bonuses WHERE BonusID = @BonusID;
END
GO
