USE [SchoolDB]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[RoomID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[Purpose] [nvarchar](100) NOT NULL,
	[BookingDate] [date] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[RecurrenceType] [nvarchar](50) NULL,
	[RecurrenceEndDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingID], [RoomID], [EmployeeID], [Purpose], [BookingDate], [StartTime], [EndTime], [Status], [Notes], [RecurrenceType], [RecurrenceEndDate]) VALUES (1, 10, 3, N'Meeting with HR', CAST(N'2025-06-20' AS Date), CAST(N'2025-06-20T09:00:00.000' AS DateTime), CAST(N'2025-06-20T10:00:00.000' AS DateTime), N'Confirmed', N'Discuss recruitment plan', NULL, NULL)
INSERT [dbo].[Bookings] ([BookingID], [RoomID], [EmployeeID], [Purpose], [BookingDate], [StartTime], [EndTime], [Status], [Notes], [RecurrenceType], [RecurrenceEndDate]) VALUES (2, 25, 4, N'Project Discussion', CAST(N'2025-06-21' AS Date), CAST(N'2025-06-21T11:00:00.000' AS DateTime), CAST(N'2025-06-21T12:30:00.000' AS DateTime), N'Pending', NULL, N'Weekly', CAST(N'2025-08-30' AS Date))
INSERT [dbo].[Bookings] ([BookingID], [RoomID], [EmployeeID], [Purpose], [BookingDate], [StartTime], [EndTime], [Status], [Notes], [RecurrenceType], [RecurrenceEndDate]) VALUES (3, 5, 5, N'Maintenance Check', CAST(N'2025-06-22' AS Date), CAST(N'2025-06-22T14:00:00.000' AS DateTime), CAST(N'2025-06-22T15:00:00.000' AS DateTime), N'Confirmed', N'Check AC units', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Employees]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Rooms] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Rooms]
GO
