USE [SchoolDB]
GO
/****** Object:  View [dbo].[vw_TerminatedEmployees]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_TerminatedEmployees] AS
SELECT
    e.EmployeeID,
    p.FirstName + ' ' + p.SecondName + ' ' + p.ThirdName + ' ' + p.LastName AS FullName,
    e.JobTitleID,
    e.HireDate,
    e.TerminationDate,
    e.Notes
FROM Employees e
JOIN Persons p ON e.PersonID = p.PersonID
WHERE e.TerminationDate IS NOT NULL;
GO
