USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_FeeType_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Delete
CREATE PROCEDURE [dbo].[sp_FeeType_Delete]
    @FeeTypeID INT
AS
BEGIN
    DELETE FROM FeeTypes WHERE FeeTypeID = @FeeTypeID;
END
GO
