USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentInstallment_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_StudentInstallment_Delete]
    @InstallmentID INT
AS
BEGIN
    DELETE FROM StudentFeeInstallments WHERE InstallmentID = @InstallmentID;
END
GO
