USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_EmployeeSalaryHistory_GetAll]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- الحصول على كل السجلات
CREATE PROCEDURE [dbo].[sp_EmployeeSalaryHistory_GetAll]
AS
BEGIN
    SELECT * FROM EmployeesSalaryHistory ORDER BY EffectiveDate DESC;
END
GO
