USE [SchoolDB]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[SecondName] [nvarchar](20) NOT NULL,
	[ThirdName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[IdentifierID] [int] NULL,
	[Gender] [bit] NOT NULL,
	[BirthDate] [date] NULL,
	[Phone] [nchar](15) NOT NULL,
	[Email] [nchar](40) NULL,
	[Address] [nvarchar](255) NULL,
	[ImagePath] [nvarchar](500) NULL,
 CONSTRAINT [PK__Persons__AA2FFB853B9D7DCF] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Persons] ON 

INSERT [dbo].[Persons] ([PersonID], [FirstName], [SecondName], [ThirdName], [LastName], [IdentifierID], [Gender], [BirthDate], [Phone], [Email], [Address], [ImagePath]) VALUES (1, N'محمد', N'أحمد', N'سعيد', N'القحطاني', 1, 1, CAST(N'1980-06-20' AS Date), N'9999999999     ', NULL, N'الرياض', NULL)
INSERT [dbo].[Persons] ([PersonID], [FirstName], [SecondName], [ThirdName], [LastName], [IdentifierID], [Gender], [BirthDate], [Phone], [Email], [Address], [ImagePath]) VALUES (2, N'أحمد', N'سعيد', N'قاسم', N'القحطاني', 2, 1, CAST(N'1985-06-20' AS Date), N'9999999999     ', NULL, N'الرياض', NULL)
INSERT [dbo].[Persons] ([PersonID], [FirstName], [SecondName], [ThirdName], [LastName], [IdentifierID], [Gender], [BirthDate], [Phone], [Email], [Address], [ImagePath]) VALUES (3, N'سعيد', N'قاسم', N'محمد', N'القحطاني', 3, 1, CAST(N'1965-06-20' AS Date), N'9999999999     ', NULL, N'الرياض', NULL)
GO
SET IDENTITY_INSERT [dbo].[Persons] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Persons_Email]    Script Date: 8/21/2025 5:43:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Persons_Email] ON [dbo].[Persons]
(
	[Email] ASC
)
WHERE ([Email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Persons]  WITH CHECK ADD  CONSTRAINT [FK_Persons_Identifiers] FOREIGN KEY([IdentifierID])
REFERENCES [dbo].[Identifiers] ([IdentifierID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Persons] CHECK CONSTRAINT [FK_Persons_Identifiers]
GO
ALTER TABLE [dbo].[Persons]  WITH CHECK ADD  CONSTRAINT [CHK_Persons_AgeRange] CHECK  ((datediff(year,[BirthDate],getdate())>=(3) AND datediff(year,[BirthDate],getdate())<=(70)))
GO
ALTER TABLE [dbo].[Persons] CHECK CONSTRAINT [CHK_Persons_AgeRange]
GO
ALTER TABLE [dbo].[Persons]  WITH CHECK ADD  CONSTRAINT [CHK_Persons_BirthDate] CHECK  (([BirthDate] IS NULL OR [BirthDate]<=CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[Persons] CHECK CONSTRAINT [CHK_Persons_BirthDate]
GO
ALTER TABLE [dbo].[Persons]  WITH CHECK ADD  CONSTRAINT [CHK_Persons_Gender] CHECK  (([Gender]=(1) OR [Gender]=(0)))
GO
ALTER TABLE [dbo].[Persons] CHECK CONSTRAINT [CHK_Persons_Gender]
GO
