USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentPayment_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Update Payment
CREATE PROCEDURE [dbo].[sp_StudentPayment_Update]
    @PaymentID INT,
    @StudentFeeID INT,
    @PaymentDate DATE,
    @AmountPaid DECIMAL(18,2),
    @PaymentMethod NVARCHAR(50),
    @Notes NVARCHAR(255) = NULL
AS
BEGIN
    UPDATE studentPayments
    SET StudentFeeID = @StudentFeeID,
        PaymentDate = @PaymentDate,
        AmountPaid = @AmountPaid,
        PaymentMethod = @PaymentMethod,
        Notes = @Notes
    WHERE PaymentID = @PaymentID;
END
GO
