USE [SchoolDB]
GO
/****** Object:  View [dbo].[vw_UnpaidEmployees]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_UnpaidEmployees] AS
SELECT
    e.EmployeeID,
    p.FirstName + ' ' + p.SecondName + ' ' + p.ThirdName + ' ' + p.LastName AS FullName,
    s.SalaryMonth,
    s.BaseSalary,
    s.NetSalary,
    s.Paid
FROM MonthlySalaries s
JOIN Employees e ON s.EmployeeID = e.EmployeeID
JOIN Persons p ON e.PersonID = p.PersonID
WHERE s.Paid = 0;
GO
