USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_JobTitle_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Insert
CREATE PROCEDURE [dbo].[sp_JobTitle_Insert]
    @JobTitleName NVARCHAR(100),
    @Description NVARCHAR(255) = NULL,
    @IsTeaching BIT,
    @IsAdministrative BIT,
    @CanTeach BIT,
    @RequiresCertification BIT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO JobTitles (JobTitleName, Description, IsTeaching, IsAdministrative, CanTeach, RequiresCertification)
    VALUES (@JobTitleName, @Description, @IsTeaching, @IsAdministrative, @CanTeach, @RequiresCertification);

    SELECT SCOPE_IDENTITY() AS NewJobTitleID;
END
GO
