USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_RoomType_GetByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get By ID
CREATE PROCEDURE [dbo].[sp_RoomType_GetByID]
    @RoomTypeID INT
AS
BEGIN
    SELECT * FROM RoomTypes WHERE RoomTypeID = @RoomTypeID;
END
GO
