USE [SchoolDB]
GO
/****** Object:  Table [dbo].[StudentFees]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentFees](
	[StudentFeeID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[StageFeeItemID] [int] NOT NULL,
	[DueDate] [date] NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[TotalPaid] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentFeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StudentFees] ON 

INSERT [dbo].[StudentFees] ([StudentFeeID], [StudentID], [StageFeeItemID], [DueDate], [Status], [Notes], [TotalPaid]) VALUES (3, 1, 15, CAST(N'2025-01-20' AS Date), N'Pending', N'قسط دراسي لفصل الربيع', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[StudentFees] ([StudentFeeID], [StudentID], [StageFeeItemID], [DueDate], [Status], [Notes], [TotalPaid]) VALUES (4, 2, 15, CAST(N'2024-09-15' AS Date), N'Active', N'تم الدفع نقداً', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[StudentFees] ([StudentFeeID], [StudentID], [StageFeeItemID], [DueDate], [Status], [Notes], [TotalPaid]) VALUES (5, 3, 15, CAST(N'2025-02-10' AS Date), N'Active', NULL, CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[StudentFees] OFF
GO
/****** Object:  Index [idx_StudentFee_StudentID]    Script Date: 8/21/2025 5:43:21 PM ******/
CREATE NONCLUSTERED INDEX [idx_StudentFee_StudentID] ON [dbo].[StudentFees]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StudentFees] ADD  DEFAULT ((0)) FOR [TotalPaid]
GO
ALTER TABLE [dbo].[StudentFees]  WITH CHECK ADD  CONSTRAINT [FK_StudentFees_StageFeeItems] FOREIGN KEY([StageFeeItemID])
REFERENCES [dbo].[StageFeeItems] ([StageFeeItemID])
GO
ALTER TABLE [dbo].[StudentFees] CHECK CONSTRAINT [FK_StudentFees_StageFeeItems]
GO
ALTER TABLE [dbo].[StudentFees]  WITH CHECK ADD  CONSTRAINT [FK_StudentFees_Students] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[StudentFees] CHECK CONSTRAINT [FK_StudentFees_Students]
GO
ALTER TABLE [dbo].[StudentFees]  WITH CHECK ADD CHECK  (([TotalPaid]>=(0)))
GO
ALTER TABLE [dbo].[StudentFees]  WITH CHECK ADD  CONSTRAINT [CK_Status_Valid] CHECK  (([Status]='Late' OR [Status]='Cancelled' OR [Status]='Overdue' OR [Status]='Paid' OR [Status]='Pending' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[StudentFees] CHECK CONSTRAINT [CK_Status_Valid]
GO
