USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Bonus_GetAll]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get All Bonuses
CREATE PROCEDURE [dbo].[sp_Bonus_GetAll]
AS
BEGIN
    SELECT * FROM Bonuses ORDER BY Date DESC;
END
GO
