USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentFee_GetUnpaid]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 7. Get Unpaid (Status not 'Paid')
CREATE PROCEDURE [dbo].[sp_StudentFee_GetUnpaid]
AS
BEGIN
    SELECT * FROM StudentFees WHERE Status <> 'Paid';
END
GO
