USE [SchoolDB]
GO
/****** Object:  Table [dbo].[Bonuses]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bonuses](
	[BonusID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Reason] [nvarchar](255) NULL,
	[Date] [date] NOT NULL,
	[AppliedInSalaryMonth] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BonusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bonuses] ON 

INSERT [dbo].[Bonuses] ([BonusID], [EmployeeID], [Amount], [Reason], [Date], [AppliedInSalaryMonth]) VALUES (2, 1, CAST(1200.00 AS Decimal(18, 2)), N'تحديث مكافأة', CAST(N'2025-07-15' AS Date), CAST(N'2025-07-01' AS Date))
SET IDENTITY_INSERT [dbo].[Bonuses] OFF
GO
ALTER TABLE [dbo].[Bonuses]  WITH CHECK ADD  CONSTRAINT [FK_Bonuses_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Bonuses] CHECK CONSTRAINT [FK_Bonuses_Employees]
GO
