USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Bonus_GetTotalAmountByEmployeeAndPeriod]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Bonus_GetTotalAmountByEmployeeAndPeriod]
    @EmployeeID INT,
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SELECT ISNULL(SUM(Amount), 0) AS TotalBonus
    FROM Bonuses
    WHERE EmployeeID = @EmployeeID
      AND Date >= @StartDate
      AND Date <= @EndDate;
END
GO
