USE [SchoolDB]
GO
/****** Object:  Table [dbo].[IdentifierTypes]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdentifierTypes](
	[IdentifierTypeID] [int] IDENTITY(1,1) NOT NULL,
	[IdentifierName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdentifierTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[IdentifierTypes] ON 

INSERT [dbo].[IdentifierTypes] ([IdentifierTypeID], [IdentifierName]) VALUES (1, N'Nationals ID')
INSERT [dbo].[IdentifierTypes] ([IdentifierTypeID], [IdentifierName]) VALUES (2, N'Passport')
INSERT [dbo].[IdentifierTypes] ([IdentifierTypeID], [IdentifierName]) VALUES (3, N'بطاقة وطنية')
SET IDENTITY_INSERT [dbo].[IdentifierTypes] OFF
GO
