USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Stage_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_Stage_Update]
    @StageID INT,
    @StageName NVARCHAR(50),
    @IsActive BIT
AS
BEGIN
    UPDATE Stages
    SET StageName = @StageName,
        IsActive = @IsActive
    WHERE StageID = @StageID;
END
GO
