USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_MonthlySalary_GetAverageNetSalaryByPeriod]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MonthlySalary_GetAverageNetSalaryByPeriod]
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SELECT 
        AVG(BaseSalary - (AbsenceDays * DeductionPerAbsent)) AS AverageNetSalary
    FROM MonthlySalaries
    WHERE SalaryMonth BETWEEN @StartDate AND @EndDate;
END
GO
