USE [SchoolDB]
GO
/****** Object:  Table [dbo].[MonthlySalaries]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlySalaries](
	[SalaryID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[SalaryMonth] [date] NOT NULL,
	[BaseSalary] [decimal](18, 2) NOT NULL,
	[AbsenceDays] [int] NOT NULL,
	[DeductionPerAbsent] [decimal](18, 2) NOT NULL,
	[Paid] [bit] NOT NULL,
	[PaymentDate] [date] NULL,
	[NetSalary] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK__MonthlyS__4BE204B77C831F9B] PRIMARY KEY CLUSTERED 
(
	[SalaryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MonthlySalaries] ON 

INSERT [dbo].[MonthlySalaries] ([SalaryID], [EmployeeID], [SalaryMonth], [BaseSalary], [AbsenceDays], [DeductionPerAbsent], [Paid], [PaymentDate], [NetSalary]) VALUES (1, 1, CAST(N'2025-06-01' AS Date), CAST(3100.00 AS Decimal(18, 2)), 0, CAST(100.00 AS Decimal(18, 2)), 1, NULL, CAST(3100 AS Decimal(18, 0)))
INSERT [dbo].[MonthlySalaries] ([SalaryID], [EmployeeID], [SalaryMonth], [BaseSalary], [AbsenceDays], [DeductionPerAbsent], [Paid], [PaymentDate], [NetSalary]) VALUES (2, 2, CAST(N'2025-06-01' AS Date), CAST(2800.00 AS Decimal(18, 2)), 2, CAST(90.00 AS Decimal(18, 2)), 1, CAST(N'2025-06-29' AS Date), CAST(2620 AS Decimal(18, 0)))
INSERT [dbo].[MonthlySalaries] ([SalaryID], [EmployeeID], [SalaryMonth], [BaseSalary], [AbsenceDays], [DeductionPerAbsent], [Paid], [PaymentDate], [NetSalary]) VALUES (3, 3, CAST(N'2025-06-01' AS Date), CAST(3200.00 AS Decimal(18, 2)), 1, CAST(110.00 AS Decimal(18, 2)), 0, NULL, CAST(3090 AS Decimal(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[MonthlySalaries] OFF
GO
ALTER TABLE [dbo].[MonthlySalaries] ADD  CONSTRAINT [DF__MonthlySa__Absen__1AD3FDA4]  DEFAULT ((0)) FOR [AbsenceDays]
GO
ALTER TABLE [dbo].[MonthlySalaries] ADD  CONSTRAINT [DF__MonthlySa__Deduc__1CBC4616]  DEFAULT ((0)) FOR [DeductionPerAbsent]
GO
ALTER TABLE [dbo].[MonthlySalaries] ADD  CONSTRAINT [DF__MonthlySal__Paid__1EA48E88]  DEFAULT ((0)) FOR [Paid]
GO
ALTER TABLE [dbo].[MonthlySalaries]  WITH CHECK ADD  CONSTRAINT [FK_MonthlySalaries_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[MonthlySalaries] CHECK CONSTRAINT [FK_MonthlySalaries_Employees]
GO
ALTER TABLE [dbo].[MonthlySalaries]  WITH CHECK ADD  CONSTRAINT [CK__MonthlySa__Absen__1BC821DD] CHECK  (([AbsenceDays]>=(0)))
GO
ALTER TABLE [dbo].[MonthlySalaries] CHECK CONSTRAINT [CK__MonthlySa__Absen__1BC821DD]
GO
ALTER TABLE [dbo].[MonthlySalaries]  WITH CHECK ADD  CONSTRAINT [CK__MonthlySa__BaseS__19DFD96B] CHECK  (([BaseSalary]>=(0)))
GO
ALTER TABLE [dbo].[MonthlySalaries] CHECK CONSTRAINT [CK__MonthlySa__BaseS__19DFD96B]
GO
ALTER TABLE [dbo].[MonthlySalaries]  WITH CHECK ADD  CONSTRAINT [CK__MonthlySa__Deduc__1DB06A4F] CHECK  (([DeductionPerAbsent]>=(0)))
GO
ALTER TABLE [dbo].[MonthlySalaries] CHECK CONSTRAINT [CK__MonthlySa__Deduc__1DB06A4F]
GO
