USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_RoomType_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete RoomType
CREATE PROCEDURE [dbo].[sp_RoomType_Delete]
    @RoomTypeID INT
AS
BEGIN
    DELETE FROM RoomTypes WHERE RoomTypeID = @RoomTypeID;
END
GO
