USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_DayOfWeek_GetByName]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DayOfWeek_GetByName]
    @DayName NVARCHAR(10)
AS
BEGIN
    SELECT * FROM DaysOfWeek WHERE DayName = @DayName
END
GO
