USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentFee_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Delete
CREATE PROCEDURE [dbo].[sp_StudentFee_Delete]
    @StudentFeeID INT
AS
BEGIN
    DELETE FROM StudentFees WHERE StudentFeeID = @StudentFeeID;
END
GO
