USE [SchoolDB]
GO
/****** Object:  Table [dbo].[JobTitles]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobTitles](
	[JobTitleID] [int] IDENTITY(1,1) NOT NULL,
	[JobTitleName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IsTeaching] [bit] NOT NULL,
	[IsAdministrative] [bit] NOT NULL,
	[CanTeach] [bit] NOT NULL,
	[RequiresCertification] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JobTitleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[JobTitles] ON 

INSERT [dbo].[JobTitles] ([JobTitleID], [JobTitleName], [Description], [IsTeaching], [IsAdministrative], [CanTeach], [RequiresCertification]) VALUES (1, N'معلم', N'يقوم بتدريس المواد الدراسية المختلفة للطلاب.', 1, 0, 1, 1)
INSERT [dbo].[JobTitles] ([JobTitleID], [JobTitleName], [Description], [IsTeaching], [IsAdministrative], [CanTeach], [RequiresCertification]) VALUES (2, N'معلم مساعد', N'يساعد المعلم الرئيسي في الصفوف الدراسية.', 1, 0, 1, 0)
INSERT [dbo].[JobTitles] ([JobTitleID], [JobTitleName], [Description], [IsTeaching], [IsAdministrative], [CanTeach], [RequiresCertification]) VALUES (3, N'مشرف تربوي', N'يتابع أداء المعلمين ويقدم الدعم التربوي.', 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[JobTitles] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__5182B52C82BC8D18]    Script Date: 8/21/2025 5:43:21 PM ******/
ALTER TABLE [dbo].[JobTitles] ADD UNIQUE NONCLUSTERED 
(
	[JobTitleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[JobTitles] ADD  DEFAULT ((0)) FOR [IsTeaching]
GO
ALTER TABLE [dbo].[JobTitles] ADD  DEFAULT ((0)) FOR [IsAdministrative]
GO
ALTER TABLE [dbo].[JobTitles] ADD  DEFAULT ((0)) FOR [CanTeach]
GO
ALTER TABLE [dbo].[JobTitles] ADD  DEFAULT ((0)) FOR [RequiresCertification]
GO
