USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_EmployeeAttendance_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete (مع إعادة عدد الصفوف المتأثرة)
CREATE PROCEDURE [dbo].[sp_EmployeeAttendance_Delete]
    @AttendanceID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM EmployeeAttendance
    WHERE AttendanceID = @AttendanceID;

    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
