USE [SchoolDB]
GO
/****** Object:  View [dbo].[vw_StudentFullInfo]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_StudentFullInfo] AS
SELECT
    s.StudentID,

    -- Student Full Name
    p.FirstName + ' ' + p.SecondName + ' ' + p.ThirdName + ' ' + p.LastName AS FullName,

    -- Gender as text
    CASE p.Gender
        WHEN 1 THEN N'ذكر'
        WHEN 0 THEN N'أنثى'
    END AS Gender,

    p.BirthDate,
    p.Phone,
    p.Email,
    p.Address,

    -- Person IsActive as text
    CASE p.IsActive
        WHEN 1 THEN N'نعم'
        ELSE N'لا'
    END AS PersonIsActive,

    -- Identifier
    id.IdentifierValue,
    idt.IdentifierName AS IdentifierTypeName,

    -- Student Info
    s.EnrollmentDate,
    st.StageName,
    s.DocumentPath,
    s.Notes AS StudentNotes,

    -- Student IsActive as text
    CASE s.IsActive
        WHEN 1 THEN N'نعم'
        ELSE N'لا'
    END AS StudentIsActive,

    -- Guardian Info
    gp.FirstName + ' ' + gp.SecondName + ' ' + gp.ThirdName + ' ' + gp.LastName AS GuardianFullName,
    g.Jobs AS GuardianJob,
    g.Notes AS GuardianNotes,

    -- Fee Info
    ft.FeeName AS FeeTypeName,
    sf.DueDate,
    sf.Status AS FeeStatus,
    sf.Notes AS FeeNotes,
    sf.TotalPaid AS TotalFeePaid,

    -- Payment Info (aggregated)
    ISNULL(SUM(sp.AmountPaid), 0) AS TotalAmountPaid

FROM
    Students s
    INNER JOIN Persons p ON s.PersonID = p.PersonID
    LEFT JOIN Identifiers id ON p.IdentifierID = id.IdentifierID
    LEFT JOIN IdentifierTypes idt ON id.IdentifierTypeID = idt.IdentifierTypeID
    LEFT JOIN Guardians g ON s.GuardianID = g.GuardianID
    LEFT JOIN Persons gp ON g.PersonID = gp.PersonID
    LEFT JOIN Stages st ON s.StageID = st.StageID
    LEFT JOIN StudentFees sf ON s.StudentID = sf.StudentID
    LEFT JOIN StageFeeItems sfi ON sf.StageFeeItemID = sfi.StageFeeItemID
    LEFT JOIN FeeTypes ft ON sfi.FeeTypeID = ft.FeeTypeID
    LEFT JOIN StudentPayments sp ON sf.StudentFeeID = sp.StudentFeeID

GROUP BY
    s.StudentID,
    p.FirstName, p.SecondName, p.ThirdName, p.LastName,
    p.Gender, p.BirthDate, p.Phone, p.Email, p.Address, p.IsActive,
    id.IdentifierValue, idt.IdentifierName,
    s.EnrollmentDate, st.StageName, s.DocumentPath, s.Notes, s.IsActive,
    gp.FirstName, gp.SecondName, gp.ThirdName, gp.LastName,
    g.Jobs, g.Notes,
    ft.FeeName,
    sf.DueDate, sf.Status, sf.Notes, sf.TotalPaid;
GO
