USE [SchoolDB]
GO
/****** Object:  Table [dbo].[EmployeesSalaryHistory]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeesSalaryHistory](
	[SalaryID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[EffectiveDate] [date] NULL,
	[BaseSalary] [decimal](18, 2) NULL,
	[Allowances] [decimal](18, 2) NULL,
	[Deductions] [decimal](18, 2) NULL,
	[Notes] [nvarchar](255) NULL,
 CONSTRAINT [PK__Employee__4BE204B7355A6B07] PRIMARY KEY CLUSTERED 
(
	[SalaryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EmployeesSalaryHistory] ON 

INSERT [dbo].[EmployeesSalaryHistory] ([SalaryID], [EmployeeID], [EffectiveDate], [BaseSalary], [Allowances], [Deductions], [Notes]) VALUES (1, 1, CAST(N'2025-07-16' AS Date), CAST(5000.00 AS Decimal(18, 2)), CAST(1000.00 AS Decimal(18, 2)), CAST(200.00 AS Decimal(18, 2)), N'الراتب الأساسي مع بدلات الشهر الأول')
INSERT [dbo].[EmployeesSalaryHistory] ([SalaryID], [EmployeeID], [EffectiveDate], [BaseSalary], [Allowances], [Deductions], [Notes]) VALUES (2, 1, CAST(N'2025-07-17' AS Date), CAST(5500.00 AS Decimal(18, 2)), CAST(1200.00 AS Decimal(18, 2)), CAST(250.00 AS Decimal(18, 2)), N'تم تعديل الراتب بعد التقييم')
SET IDENTITY_INSERT [dbo].[EmployeesSalaryHistory] OFF
GO
ALTER TABLE [dbo].[EmployeesSalaryHistory]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeSalaryHistory_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[EmployeesSalaryHistory] CHECK CONSTRAINT [FK_EmployeeSalaryHistory_Employees]
GO
