USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentStage_GetByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get StudentStage By ID
CREATE PROCEDURE [dbo].[sp_StudentStage_GetByID]
    @StudentStageID INT
AS
BEGIN
    SELECT * FROM StudentStages WHERE StudentStageID = @StudentStageID;
END
GO
