USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_AcademicYear_GetAll]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get All AcademicYears
CREATE PROCEDURE [dbo].[sp_AcademicYear_GetAll]
AS
BEGIN
    SELECT * FROM AcademicYears ORDER BY StartDate DESC;
END
GO
