USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_User_GetByUserNameAndPassword]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_User_GetByUserNameAndPassword]
    @UserName NCHAR(55),
    @Password NCHAR(55)
AS
BEGIN
    SELECT *
    FROM Users
    WHERE UserName = @UserName
      AND Password = @Password;
END
GO
