USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ExamType_GetByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get ExamType By ID
CREATE PROCEDURE [dbo].[sp_ExamType_GetByID]
    @ExamTypeID INT
AS
BEGIN
    SELECT * FROM ExamTypes WHERE ExamTypeID = @ExamTypeID;
END
GO
