USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_MonthlySalary_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Insert new salary record (بدون NetSalary لأنه محسوب)
CREATE PROCEDURE [dbo].[sp_MonthlySalary_Insert]
    @EmployeeID INT,
    @SalaryMonth DATE,
    @BaseSalary DECIMAL(18,2),
    @AbsenceDays INT,
    @DeductionPerAbsent DECIMAL(18,2),
    @Paid BIT,
    @PaymentDate DATE = NULL
AS
BEGIN
    INSERT INTO MonthlySalaries 
    (EmployeeID, SalaryMonth, BaseSalary, AbsenceDays, DeductionPerAbsent, Paid, PaymentDate)
    VALUES 
    (@EmployeeID, @SalaryMonth, @BaseSalary, @AbsenceDays, @DeductionPerAbsent, @Paid, @PaymentDate);

    SELECT SCOPE_IDENTITY() AS NewSalaryID;
END
GO
