USE [SchoolDB]
GO
/****** Object:  Table [dbo].[DaysOfWeek]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DaysOfWeek](
	[DayName] [nvarchar](10) NOT NULL,
	[IsWorkingDay] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DayName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DaysOfWeek] ([DayName], [IsWorkingDay]) VALUES (N'Friday', 0)
INSERT [dbo].[DaysOfWeek] ([DayName], [IsWorkingDay]) VALUES (N'Monday', 1)
INSERT [dbo].[DaysOfWeek] ([DayName], [IsWorkingDay]) VALUES (N'Saturday', 0)
GO
ALTER TABLE [dbo].[DaysOfWeek] ADD  DEFAULT ((1)) FOR [IsWorkingDay]
GO
