USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentAttendance_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Insert
CREATE PROCEDURE [dbo].[sp_StudentAttendance_Insert]
    @StudentID INT,
    @ScheduleID INT,
    @AttendanceDate DATE,
    @Status NVARCHAR(20),
    @Notes NVARCHAR(500)
AS
BEGIN
    INSERT INTO StudentAttendance(StudentID, ScheduleID, AttendanceDate, Status, Notes)
    VALUES(@StudentID, @ScheduleID, @AttendanceDate, @Status, @Notes);

    SELECT SCOPE_IDENTITY();
    END
GO
