USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_EmployeeAttendance_GetByStatusBetweenDates]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Get Attendance By Status Between Dates
CREATE PROCEDURE [dbo].[sp_EmployeeAttendance_GetByStatusBetweenDates]
    @Status NVARCHAR(50),
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM EmployeeAttendance
    WHERE Status = @Status
      AND AttendanceDate BETWEEN @StartDate AND @EndDate
    ORDER BY AttendanceDate DESC;
END
GO
