USE [SchoolDB]
GO
/****** Object:  Table [dbo].[Results]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[ExamID] [int] NOT NULL,
	[Score] [decimal](5, 2) NULL,
	[IsAbsent] [bit] NOT NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Results] ON 

INSERT [dbo].[Results] ([ResultID], [StudentID], [ExamID], [Score], [IsAbsent], [Notes]) VALUES (1, 18, 41, CAST(37.76 AS Decimal(5, 2)), 0, N'ضعيف')
INSERT [dbo].[Results] ([ResultID], [StudentID], [ExamID], [Score], [IsAbsent], [Notes]) VALUES (2, 26, 15, CAST(67.03 AS Decimal(5, 2)), 0, N'جيد')
INSERT [dbo].[Results] ([ResultID], [StudentID], [ExamID], [Score], [IsAbsent], [Notes]) VALUES (3, 14, 87, CAST(29.22 AS Decimal(5, 2)), 0, N'ضعيف')
GO
SET IDENTITY_INSERT [dbo].[Results] OFF
GO
/****** Object:  Index [UQ_Student_Exam]    Script Date: 8/21/2025 5:43:21 PM ******/
ALTER TABLE [dbo].[Results] ADD  CONSTRAINT [UQ_Student_Exam] UNIQUE NONCLUSTERED 
(
	[StudentID] ASC,
	[ExamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Results] ADD  DEFAULT ((0)) FOR [IsAbsent]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK_Results_Exams] FOREIGN KEY([ExamID])
REFERENCES [dbo].[Exams] ([ExamID])
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK_Results_Exams]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [FK_Results_Students] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [FK_Results_Students]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD CHECK  (([Score]>=(0) AND [Score]<=(100)))
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD  CONSTRAINT [CK_AbsentScore] CHECK  (([IsAbsent]=(1) AND [Score] IS NULL OR [IsAbsent]=(0) AND [Score] IS NOT NULL))
GO
ALTER TABLE [dbo].[Results] CHECK CONSTRAINT [CK_AbsentScore]
GO
