USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Schedule_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete Schedule
CREATE PROCEDURE [dbo].[sp_Schedule_Delete]
    @ScheduleID INT
AS
BEGIN
    DELETE FROM Schedules WHERE ScheduleID = @ScheduleID;
END
GO
