USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Student_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete Student - return affected rows
CREATE PROCEDURE [dbo].[sp_Student_Delete]
    @StudentID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Students WHERE StudentID = @StudentID;

    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
