USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentStage_UpdateIsActive]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










-- تحديث حالة التفعيل فقط
CREATE PROCEDURE [dbo].[sp_StudentStage_UpdateIsActive]
    @StudentStageID INT,
    @IsActive BIT
AS
BEGIN
    UPDATE StudentStages
    SET IsActive = @IsActive
    WHERE StudentStageID = @StudentStageID;
END
GO
