USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_EmployeeAttendance_GetByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get By ID
CREATE PROCEDURE [dbo].[sp_EmployeeAttendance_GetByID]
    @AttendanceID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM EmployeeAttendance
    WHERE AttendanceID = @AttendanceID;
END
GO
