USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentStage_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete StudentStage
CREATE PROCEDURE [dbo].[sp_StudentStage_Delete]
    @StudentStageID INT
AS
BEGIN
    DELETE FROM StudentStages WHERE StudentStageID = @StudentStageID;
END
GO
