USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Employee_GetByPersonID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Employee_GetByPersonID]
    @PersonID INT
AS
BEGIN
    SELECT *  FROM Employees
    WHERE PersonID = @PersonID
END
GO
