USE [SchoolDB]
GO
/****** Object:  View [dbo].[vw_AvailableRoomsNow]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_AvailableRoomsNow] AS
SELECT *
FROM Rooms
WHERE IsAvailable = 1 AND IsReservable = 1 AND RoomID NOT IN (
    SELECT RoomID
    FROM Schedules
    WHERE
        DATENAME(WEEKDAY, GETDATE()) = DayOfWeek AND
        CAST(GETDATE() AS TIME) BETWEEN StartTime AND EndTime
);
GO
