USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Subject_GetAll]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get All Subjects
CREATE PROCEDURE [dbo].[sp_Subject_GetAll]
AS
BEGIN
    SELECT * FROM Subjects ORDER BY SubjectName;
END
GO
