USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_DayOfWeek_GetAll]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DayOfWeek_GetAll]
AS
BEGIN
    SELECT * FROM DaysOfWeek
END
GO
