USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentInstallment_GetByStudentID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_StudentInstallment_GetByStudentID]
    @StudentID INT
AS
BEGIN
    SELECT I.*
    FROM StudentFeeInstallments I
    INNER JOIN StudentFees SF ON I.StudentFeeID = SF.StudentFeeID
    WHERE SF.StudentID = @StudentID;
END
GO
