USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetFinalGrade]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetFinalGrade]
    @StudentID INT,
    @SubjectID INT,
    @StageID INT,
    @AcademicYearID INT,
    @ExamPeriodID INT,
    @ExamTypeID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1 
        StudentID, 
        SubjectID, 
        StageID, 
        AcademicYearID, 
        ExamPeriodID, 
        ExamTypeID, 
        Grade
    FROM FinalGrades
    WHERE StudentID = @StudentID 
      AND SubjectID = @SubjectID 
      AND StageID = @StageID
      AND AcademicYearID = @AcademicYearID
      AND ExamPeriodID = @ExamPeriodID
      AND ExamTypeID = @ExamTypeID;
END;
GO
