USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_FeeType_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. Insert
CREATE PROCEDURE [dbo].[sp_FeeType_Insert]
    @FeeName NVARCHAR(100),
    @Description NVARCHAR(255) = NULL,
    @IsActive BIT
AS
BEGIN
    INSERT INTO FeeTypes (FeeName, Description, IsActive)
    VALUES (@FeeName, @Description, @IsActive);

    SELECT SCOPE_IDENTITY();
END
GO
