USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Result_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Insert Result
CREATE PROCEDURE [dbo].[sp_Result_Insert]
    @StudentID INT,
    @ExamID INT,
    @Score DECIMAL(5,2) = NULL,
    @IsAbsent BIT,
    @Notes NVARCHAR(500) = NULL
AS
BEGIN
    INSERT INTO Results (StudentID, ExamID, Score, IsAbsent, Notes)
    VALUES (@StudentID, @ExamID, @Score, @IsAbsent, @Notes);

    SELECT SCOPE_IDENTITY();
END
GO
