USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_AcademicYear_GetByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get AcademicYear By ID
CREATE PROCEDURE [dbo].[sp_AcademicYear_GetByID]
    @AcademicYearID INT
AS
BEGIN
    SELECT * FROM AcademicYears WHERE AcademicYearID = @AcademicYearID;
END
GO
