USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudentsEnrollmentCount]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- 1. عدد جميع الطلاب المسجلين (نشطين فقط)
CREATE PROCEDURE [dbo].[sp_GetStudentsEnrollmentCount]
AS
BEGIN
    SELECT COUNT(*) AS EnrollmentCount FROM Students WHERE IsActive = 1;
END
GO
