USE [SchoolDB]
GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTypes](
	[RoomTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RoomTypes] ON 

INSERT [dbo].[RoomTypes] ([RoomTypeID], [TypeName], [Description], [IsActive]) VALUES (1, N'فصل دراسي', N'غرفة مخصصة للدروس اليومية للطلاب', 1)
INSERT [dbo].[RoomTypes] ([RoomTypeID], [TypeName], [Description], [IsActive]) VALUES (2, N'مختبر علوم', N'غرفة مزوّدة بأدوات وتجهيزات لتجارب العلوم', 1)
INSERT [dbo].[RoomTypes] ([RoomTypeID], [TypeName], [Description], [IsActive]) VALUES (3, N'مختبر حاسوب', N'غرفة تحتوي على أجهزة كمبيوتر للتعليم الإلكتروني', 1)
SET IDENTITY_INSERT [dbo].[RoomTypes] OFF
GO
ALTER TABLE [dbo].[RoomTypes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
