USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_EmployeeSalaryHistory_GetByEmployeeID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- الحصول على كل الرواتب لموظف محدد
CREATE PROCEDURE [dbo].[sp_EmployeeSalaryHistory_GetByEmployeeID]
    @EmployeeID INT
AS
BEGIN
    SELECT * FROM EmployeesSalaryHistory WHERE EmployeeID = @EmployeeID ORDER BY EffectiveDate DESC;
END
GO
