USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Subject_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Insert Subject
CREATE PROCEDURE [dbo].[sp_Subject_Insert]
    @SubjectName NVARCHAR(50),
    @StageID INT,
    @IsActive BIT,
    @Notes NVARCHAR(255) = NULL
AS
BEGIN
    INSERT INTO Subjects (SubjectName, StageID, IsActive, Notes)
    VALUES (@SubjectName, @StageID, @IsActive, @Notes);

    SELECT SCOPE_IDENTITY();
END
GO
