USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Bonus_GetByEmployeeID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Bonuses By EmployeeID
CREATE PROCEDURE [dbo].[sp_Bonus_GetByEmployeeID]
    @EmployeeID INT
AS
BEGIN
    SELECT * FROM Bonuses WHERE EmployeeID = @EmployeeID ORDER BY Date DESC;
END
GO
