USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_MonthlySalary_GetUnpaidByMonth]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MonthlySalary_GetUnpaidByMonth]
    @SalaryMonth DATE
AS
BEGIN
    SELECT *
    FROM MonthlySalaries
    WHERE Paid = 0
      AND MONTH(SalaryMonth) = MONTH(@SalaryMonth)
      AND YEAR(SalaryMonth) = YEAR(@SalaryMonth);
END
GO
