USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Exam_GetActive]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Active Exams
CREATE PROCEDURE [dbo].[sp_Exam_GetActive]
AS
BEGIN
    SELECT * FROM Exams WHERE IsActive = 1 ORDER BY ExamDate DESC;
END
GO
