USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_EmployeeAttendance_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EmployeeAttendance_Update]
    @AttendanceID INT,
    @EmployeeID INT,
    @AttendanceDate DATE,
    @CheckInTime TIME = NULL,
    @CheckOutTime TIME = NULL,
    @Status NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE EmployeeAttendance
    SET EmployeeID = @EmployeeID,
        AttendanceDate = @AttendanceDate,
        CheckInTime = @CheckInTime,
        CheckOutTime = @CheckOutTime,
        Status = @Status
    WHERE AttendanceID = @AttendanceID;

    -- أرجع عدد الأسطر المتأثرة
    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
