USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_MonthlySalary_GetSumsByMonth]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 7. Get salary sums by month (عدد الرواتب والمجموعات)
CREATE PROCEDURE [dbo].[sp_MonthlySalary_GetSumsByMonth]
    @SalaryMonth DATE
AS
BEGIN
    SELECT
        COUNT(*) AS TotalSalaries,
        SUM(NetSalary) AS TotalNetSalary,
        SUM(CASE WHEN Paid = 1 THEN NetSalary ELSE 0 END) AS TotalPaid,
        SUM(CASE WHEN Paid = 0 THEN NetSalary ELSE 0 END) AS TotalUnpaid
    FROM MonthlySalaries
    WHERE MONTH(SalaryMonth) = MONTH(@SalaryMonth) 
      AND YEAR(SalaryMonth) = YEAR(@SalaryMonth);
END
GO
