USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentAttendance_GetByStudentID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- GetByStudentID
CREATE PROCEDURE [dbo].[sp_StudentAttendance_GetByStudentID]
    @StudentID INT
AS
BEGIN
    SELECT* FROM StudentAttendance WHERE StudentID = @StudentID;
END
GO
