USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_EmployeeAttendance_Exists]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Check if Active (exists for employee on specific date)
CREATE PROCEDURE [dbo].[sp_EmployeeAttendance_Exists]
    @EmployeeID INT,
    @AttendanceDate DATE
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM EmployeeAttendance WHERE EmployeeID = @EmployeeID AND AttendanceDate = @AttendanceDate
    )
        SELECT 1 AS ExistsFlag;
    ELSE
        SELECT 0 AS ExistsFlag;
END
GO
