USE [SchoolDB]
GO
/****** Object:  View [dbo].[vw_EmployeeAnnualSalarySummary]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_EmployeeAnnualSalarySummary] AS
SELECT
    e.EmployeeID,
    p.FirstName + ' ' + p.SecondName + ' ' + p.ThirdName + ' ' + p.LastName AS FullName,
    YEAR(s.SalaryMonth) AS SalaryYear,
    SUM(s.BaseSalary) AS TotalBaseSalary,
    SUM(s.AbsenceDays * s.DeductionPerAbsent) AS TotalDeductions,
    SUM(s.NetSalary) AS TotalNetSalary
FROM MonthlySalaries s
JOIN Employees e ON s.EmployeeID = e.EmployeeID
JOIN Persons p ON e.PersonID = p.PersonID
WHERE s.Paid = 1
GROUP BY e.EmployeeID, p.FirstName, p.SecondName, p.ThirdName, p.LastName, YEAR(s.SalaryMonth);
GO
