USE [SchoolDB]
GO
/****** Object:  View [dbo].[vw_StudentPassFailStatus]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_StudentPassFailStatus] AS
SELECT 
    s.StudentID,
    p.FirstName + ' ' + p.SecondName + ' ' + p.ThirdName + ' ' + p.LastName AS FullName,
    st.StageName,
    ay.AcademicYearName,
    AVG(fg.Grade) AS AverageGrade,
    CASE 
        WHEN AVG(fg.Grade) >= 50 THEN 'pass'
        ELSE 'fail'
    END AS FinalStatus
FROM FinalGrades fg
JOIN Students s ON fg.StudentID = s.StudentID
JOIN Persons p ON s.PersonID = p.PersonID
JOIN Stages st ON fg.StageID = st.StageID
JOIN AcademicYears ay ON fg.AcademicYearID = ay.AcademicYearID
JOIN ExamPeriods ep ON fg.ExamPeriodID = ep.ExamPeriodID
JOIN ExamTypes et ON ep.ExamTypeID = et.ExamTypeID
WHERE et.ExamTypeName = 'Year'
GROUP BY s.StudentID, p.FirstName, p.SecondName, p.ThirdName, p.LastName, st.StageName, ay.AcademicYearName;


GO
