USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Schedule_GetByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Schedule By ID
CREATE PROCEDURE [dbo].[sp_Schedule_GetByID]
    @ScheduleID INT
AS
BEGIN
    SELECT * FROM Schedules WHERE ScheduleID = @ScheduleID;
END
GO
