USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Student_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Update Student
CREATE PROCEDURE [dbo].[sp_Student_Update]
    @StudentID INT,
    @PersonID INT,
    @GuardianID INT,
    @EnrollmentDate DATE,
    @StageID INT,
    @IsActive BIT,
    @DocumentPath NVARCHAR(512) = NULL,
    @Notes NVARCHAR(255) = NULL
AS
BEGIN
    -- قم بإلغاء هذا السطر كي يتم إرجاع عدد الصفوف المتأثرة
    -- SET NOCOUNT ON;

    UPDATE Students
    SET PersonID = @PersonID,
        GuardianID = @GuardianID,
        EnrollmentDate = @EnrollmentDate,
        StageID = @StageID,
        IsActive = @IsActive,
        DocumentPath = @DocumentPath,
        Notes = @Notes
    WHERE StudentID = @StudentID;
END
GO
