USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_EmployeeAttendance_GetByStatus]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Get Attendance By Status
CREATE PROCEDURE [dbo].[sp_EmployeeAttendance_GetByStatus]
    @Status NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM EmployeeAttendance
    WHERE Status = @Status
    ORDER BY AttendanceDate DESC;
END
GO
