USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudentsEnrollmentInStage]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. قائمة الطلاب المسجلين في مرحلة معينة (نشطين فقط) مع بياناتهم الأساسية
CREATE PROCEDURE [dbo].[sp_GetStudentsEnrollmentInStage]
    @StageID INT
AS
BEGIN
    SELECT 
        s.StudentID, s.PersonID, s.EnrollmentDate, s.StageID, s.IsActive,
        p.FirstName, p.SecondName, p.ThirdName, p.LastName
    FROM Students s
    INNER JOIN Persons p ON s.PersonID = p.PersonID
    WHERE s.IsActive = 1 AND s.StageID = @StageID
    ORDER BY s.EnrollmentDate DESC;
END
GO
