USE [SchoolDB]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[ExamID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectID] [int] NOT NULL,
	[TeacherID] [int] NOT NULL,
	[ExamDate] [date] NOT NULL,
	[TakeDate] [date] NOT NULL,
	[Grade] [smallint] NOT NULL,
	[MaxGrade] [smallint] NOT NULL,
	[ExamDocument] [nvarchar](255) NULL,
	[Notes] [nvarchar](500) NULL,
	[ExamPeriodID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Exams] ON 

INSERT [dbo].[Exams] ([ExamID], [SubjectID], [TeacherID], [ExamDate], [TakeDate], [Grade], [MaxGrade], [ExamDocument], [Notes], [ExamPeriodID], [IsActive]) VALUES (1, 65, 23, CAST(N'2025-10-29' AS Date), CAST(N'2025-10-30' AS Date), 96, 100, NULL, N'اختبار نهائي', 21, 1)
INSERT [dbo].[Exams] ([ExamID], [SubjectID], [TeacherID], [ExamDate], [TakeDate], [Grade], [MaxGrade], [ExamDocument], [Notes], [ExamPeriodID], [IsActive]) VALUES (2, 74, 1, CAST(N'2025-05-30' AS Date), CAST(N'2025-05-31' AS Date), 71, 100, N'exam_docs/exam_194.pdf', N'اختبار منتصف الفصل', 5, 1)
INSERT [dbo].[Exams] ([ExamID], [SubjectID], [TeacherID], [ExamDate], [TakeDate], [Grade], [MaxGrade], [ExamDocument], [Notes], [ExamPeriodID], [IsActive]) VALUES (3, 65, 12, CAST(N'2025-04-24' AS Date), CAST(N'2025-04-25' AS Date), 63, 100, NULL, N'تقييم شامل', 32, 1)
GO
SET IDENTITY_INSERT [dbo].[Exams] OFF
GO
ALTER TABLE [dbo].[Exams] ADD  DEFAULT ((100)) FOR [MaxGrade]
GO
ALTER TABLE [dbo].[Exams] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_Period] FOREIGN KEY([ExamPeriodID])
REFERENCES [dbo].[ExamPeriods] ([ExamPeriodID])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exams_Period]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exams_Subject]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_Subjects] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exams_Subjects]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_Teacher] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exams_Teacher]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_Teachers] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exams_Teachers]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD CHECK  (([Grade]>=(0) AND [Grade]<=(100)))
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD CHECK  (([MaxGrade]>(0)))
GO
