USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_EmployeeSalaryHistory_GetByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- الحصول على سجل برقم SalaryID
CREATE PROCEDURE [dbo].[sp_EmployeeSalaryHistory_GetByID]
    @SalaryID INT
AS
BEGIN
    SELECT * FROM EmployeesSalaryHistory WHERE SalaryID = @SalaryID;
END
GO
