USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateGuardian]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 4. إجراء لتحديث سجل حسب GuardianID
CREATE PROCEDURE [dbo].[sp_UpdateGuardian]
    @GuardianID INT,
    @PersonID INT,
    @Jobs NVARCHAR(50),
    @Notes NVARCHAR(255) = NULL
AS
BEGIN
    UPDATE Guardians
    SET PersonID = @PersonID,
        Jobs = @Jobs,
        Notes = @Notes
    WHERE GuardianID = @GuardianID;
END
GO
