USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_MonthlySalary_PartialUpdate]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MonthlySalary_PartialUpdate]
    @SalaryID INT,
    @BaseSalary DECIMAL(18,2) = NULL,
    @AbsenceDays INT = NULL,
    @DeductionPerAbsent DECIMAL(18,2) = NULL,
    @Paid BIT = NULL,
    @PaymentDate DATE = NULL
AS
BEGIN
    UPDATE MonthlySalaries
    SET
        BaseSalary = COALESCE(@BaseSalary, BaseSalary),
        AbsenceDays = COALESCE(@AbsenceDays, AbsenceDays),
        DeductionPerAbsent = COALESCE(@DeductionPerAbsent, DeductionPerAbsent),
        Paid = COALESCE(@Paid, Paid),
        PaymentDate = CASE WHEN @Paid = 1 THEN COALESCE(@PaymentDate, PaymentDate) ELSE NULL END
    WHERE SalaryID = @SalaryID;
END
GO
