USE [SchoolDB]
GO
/****** Object:  View [dbo].[vw_TopStudentPerStageYear]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_TopStudentPerStageYear] AS
WITH RankedGrades AS (
    SELECT 
        s.StudentID,
        p.FirstName + ' ' + p.SecondName + ' ' + p.ThirdName + ' ' + p.LastName AS FullName,
        st.StageName,
        ay.AcademicYearName,
        AVG(fg.Grade) AS AverageGrade,
        RANK() OVER (PARTITION BY st.StageID, fg.AcademicYearID ORDER BY AVG(fg.Grade) DESC) AS RankInStage
    FROM FinalGrades fg
    JOIN Students s ON fg.StudentID = s.StudentID
    JOIN Persons p ON s.PersonID = p.PersonID
    JOIN Stages st ON fg.StageID = st.StageID
    JOIN AcademicYears ay ON fg.AcademicYearID = ay.AcademicYearID
    JOIN ExamPeriods ep ON fg.ExamPeriodID = ep.ExamPeriodID
    JOIN ExamTypes et ON ep.ExamTypeID = et.ExamTypeID
    WHERE et.ExamTypeName = 'Year'
    GROUP BY s.StudentID, p.FirstName, p.SecondName, p.ThirdName, p.LastName, st.StageName, st.StageID, fg.AcademicYearID, ay.AcademicYearName
)
SELECT *
FROM RankedGrades
WHERE RankInStage = 1;




GO
