USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ExamPeriod_GetAll]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get All ExamPeriods
CREATE PROCEDURE [dbo].[sp_ExamPeriod_GetAll]
AS
BEGIN
    SELECT * FROM ExamPeriods ORDER BY StartDate DESC;
END
GO
