USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[Get_JobTitles_RequireCertification]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- الإجراء: جلب الوظائف التي تتطلب شهادة اعتماد
CREATE   PROCEDURE [dbo].[Get_JobTitles_RequireCertification]
AS
BEGIN
    SELECT *
    FROM EmployeeJobTitles
    WHERE RequiresCertification = 1;
END
GO
