USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Room_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete Room
CREATE PROCEDURE [dbo].[sp_Room_Delete]
    @RoomID INT
AS
BEGIN
    DELETE FROM Rooms WHERE RoomID = @RoomID;
END
GO
