USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StageFeeItem_GetActive]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6. Get Active
CREATE PROCEDURE [dbo].[sp_StageFeeItem_GetActive]
AS
BEGIN
    SELECT * FROM StageFeeItems WHERE IsActive = 1;
END
GO
