USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[IsEmployeeExistByPersonIDAndNotThisEmployee]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[IsEmployeeExistByPersonIDAndNotThisEmployee]
@PersonID int,
@EmployeeID int

as
begin
set nocount on;

select case when exists(
select 1 from Employees where PersonID = @PersonID
	and EmployeeID <> @EmployeeID) then CAST(1 as bit) else cast(0 as bit) end as ExistsFlag;

end
GO
