USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Student_GetAll]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get All Students
CREATE PROCEDURE [dbo].[sp_Student_GetAll]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM Students;
END
GO
