USE [SchoolDB]
GO
/****** Object:  View [dbo].[vw_StudentFinancialStatus]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_StudentFinancialStatus] AS
SELECT 
    s.StudentID,
    sf.StudentFeeID,
    ft.FeeName,
    sfi.Amount AS TotalFee,
    sf.TotalPaid,
    (sfi.Amount - sf.TotalPaid) AS Remaining,
    COUNT(i.InstallmentID) AS TotalInstallments,
    SUM(CASE WHEN i.IsPaid = 1 THEN 1 ELSE 0 END) AS PaidInstallments,
    SUM(CASE WHEN i.IsPaid = 0 THEN 1 ELSE 0 END) AS UnpaidInstallments,
    MAX(i.DueDate) AS LastDueDate,
    CASE 
        WHEN sfi.Amount - sf.TotalPaid <= 0 THEN 'Paid'
        WHEN MAX(i.DueDate) < GETDATE() THEN 'Overdue'
        ELSE 'Partial'
    END AS PaymentStatus
FROM Students s
JOIN StudentFees sf ON s.StudentID = sf.StudentID
JOIN StageFeeItems sfi ON sf.StageFeeItemID = sfi.StageFeeItemID
JOIN FeeTypes ft ON sfi.FeeTypeID = ft.FeeTypeID
LEFT JOIN StudentFeeInstallments i ON i.StudentFeeID = sf.StudentFeeID
GROUP BY s.StudentID, sf.StudentFeeID, ft.FeeName, sfi.Amount, sf.TotalPaid;


GO
