USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentAttendance_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update
CREATE PROCEDURE [dbo].[sp_StudentAttendance_Update]
    @AttendanceID INT,
    @StudentID INT,
    @ScheduleID INT,
    @AttendanceDate DATE,
    @Status NVARCHAR(20),
    @Notes NVARCHAR(500)
AS
BEGIN
    UPDATE StudentAttendance
    SET StudentID = @StudentID,
        ScheduleID = @ScheduleID,
        AttendanceDate = @AttendanceDate,
        Status = @Status,
        Notes = @Notes
    WHERE AttendanceID = @AttendanceID;
    END
GO
