USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckPersonRelations]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CheckPersonRelations]
    @PersonID INT,
    @IsRelated BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SET @IsRelated = 0;

    IF EXISTS (SELECT 1 FROM Students WHERE PersonID = @PersonID)
        SET @IsRelated = 1;

    ELSE IF EXISTS (SELECT 1 FROM Guardians WHERE PersonID = @PersonID)
        SET @IsRelated = 1;

    ELSE IF EXISTS (SELECT 1 FROM Employees WHERE PersonID = @PersonID)
        SET @IsRelated = 1;

    -- أضف أي جداول أخرى مرتبطة بـ PersonID

END
GO
