USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[Get_EmployeeJobTitle_ByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- الإجراء: جلب وظيفة حسب المعرف
CREATE   PROCEDURE [dbo].[Get_EmployeeJobTitle_ByID]
    @JobTitleID INT
AS
BEGIN
    SELECT *
    FROM EmployeeJobTitles
    WHERE JobTitleID = @JobTitleID;
END
GO
