USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StudentPayment_GetByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Get Payment By ID
CREATE PROCEDURE [dbo].[sp_StudentPayment_GetByID]
    @PaymentID INT
AS
BEGIN
    SELECT * FROM studentPayments WHERE PaymentID = @PaymentID;
END
GO
