USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Deduction_GetByID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Deduction By ID
CREATE PROCEDURE [dbo].[sp_Deduction_GetByID]
    @DeductionID INT
AS
BEGIN
    SELECT * FROM Deductions WHERE DeductionID = @DeductionID;
END
GO
