USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_MonthlySalary_GetSummaryByEmployeeAndPeriod]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MonthlySalary_GetSummaryByEmployeeAndPeriod]
    @EmployeeID INT,
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SELECT
        COUNT(*) AS SalaryCount,
        SUM(NetSalary) AS TotalNetSalary,
        SUM(CASE WHEN Paid = 1 THEN NetSalary ELSE 0 END) AS TotalPaid,
        SUM(CASE WHEN Paid = 0 THEN NetSalary ELSE 0 END) AS TotalUnpaid
    FROM MonthlySalaries
    WHERE EmployeeID = @EmployeeID
      AND SalaryMonth BETWEEN @StartDate AND @EndDate;
END
GO
