USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Schedule_Update]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update Schedule
CREATE PROCEDURE [dbo].[sp_Schedule_Update]
    @ScheduleID INT,
    @ClassID INT,
    @SubjectID INT,
    @TeacherID INT,
    @RoomID INT,
    @DayOfWeek NVARCHAR(10),
    @StartTime TIME(7),
    @EndTime TIME(7),
    @AcademicYearID INT,
    @Notes NVARCHAR(300) = NULL
AS
BEGIN
    UPDATE Schedules
    SET ClassID = @ClassID,
        SubjectID = @SubjectID,
        TeacherID = @TeacherID,
        RoomID = @RoomID,
        DayOfWeek = @DayOfWeek,
        StartTime = @StartTime,
        EndTime = @EndTime,
        AcademicYearID = @AcademicYearID,
        Notes = @Notes
    WHERE ScheduleID = @ScheduleID;
END
GO
