USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[Get_All_EmployeeJobTitles]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- الإجراء: جلب كل الوظائف
CREATE   PROCEDURE [dbo].[Get_All_EmployeeJobTitles]
AS
BEGIN
    SELECT *
    FROM EmployeeJobTitles;
END
GO
