USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_MonthlySalary_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- 3. Delete salary record
CREATE PROCEDURE [dbo].[sp_MonthlySalary_Delete]
    @SalaryID INT
AS
BEGIN
    DELETE FROM MonthlySalaries WHERE SalaryID = @SalaryID;
END
GO
