USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Subject_Delete]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete Subject
CREATE PROCEDURE [dbo].[sp_Subject_Delete]
    @SubjectID INT
AS
BEGIN
    DELETE FROM Subjects WHERE SubjectID = @SubjectID;
END
GO
