USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Exam_GetBySubjectID]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Exams By SubjectID
CREATE PROCEDURE [dbo].[sp_Exam_GetBySubjectID]
    @SubjectID INT
AS
BEGIN
    SELECT * FROM Exams WHERE SubjectID = @SubjectID ORDER BY ExamDate DESC;
END
GO
