USE [SchoolDB]
GO
/****** Object:  Table [dbo].[ExamTypes]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamTypes](
	[ExamTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ExamTypeName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ExamTypes] ON 

INSERT [dbo].[ExamTypes] ([ExamTypeID], [ExamTypeName], [Description]) VALUES (1, N'Week', N'الامتحان النهائي للفصل الدراسي')
INSERT [dbo].[ExamTypes] ([ExamTypeID], [ExamTypeName], [Description]) VALUES (2, N'Month', N'امتحان منتصف الفصل الدراسي')
INSERT [dbo].[ExamTypes] ([ExamTypeID], [ExamTypeName], [Description]) VALUES (3, N'Term', N'اختبار قصير أو سريع')
SET IDENTITY_INSERT [dbo].[ExamTypes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ExamType__A4C9240261181EB8]    Script Date: 8/21/2025 5:43:21 PM ******/
ALTER TABLE [dbo].[ExamTypes] ADD UNIQUE NONCLUSTERED 
(
	[ExamTypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
