USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Result_GetAll]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get All Results
CREATE PROCEDURE [dbo].[sp_Result_GetAll]
AS
BEGIN
    SELECT * FROM Results ORDER BY ResultID DESC;
END
GO
