USE [SchoolDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_EmployeeSalaryHistory_Insert]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- إضافة سجل راتب جديد
CREATE PROCEDURE [dbo].[sp_EmployeeSalaryHistory_Insert]
    @EmployeeID INT,
    @EffectiveDate DATE,
    @BaseSalary DECIMAL(18,2),
    @Allowances DECIMAL(18,2),
    @Deductions DECIMAL(18,2),
    @Notes NVARCHAR(500)
AS
BEGIN
    INSERT INTO EmployeesSalaryHistory (EmployeeID, EffectiveDate, BaseSalary, Allowances, Deductions, Notes)
    VALUES (@EmployeeID, @EffectiveDate, @BaseSalary, @Allowances, @Deductions, @Notes);

    SELECT SCOPE_IDENTITY();
END
GO
