USE [SchoolDB]
GO
/****** Object:  View [dbo].[vw_WeeklyClassSchedule]    Script Date: 8/21/2025 5:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_WeeklyClassSchedule] AS
SELECT 
    C.ClassName,
    S.SubjectName,
    T.EmployeeID AS TeacherID,
    R.RoomName,
    SC.DayOfWeek,
    FORMAT(SC.StartTime, 'hh\\:mm') AS StartTime,
    FORMAT(SC.EndTime, 'hh\\:mm') AS EndTime,
    AY.AcademicYearID
FROM Schedules SC
JOIN Classes C ON SC.ClassID = C.ClassID
JOIN Subjects S ON SC.SubjectID = S.SubjectID
JOIN Rooms R ON SC.RoomID = R.RoomID
JOIN Employees T ON SC.TeacherID = T.EmployeeID
JOIN AcademicYears AY ON SC.AcademicYearID = AY.AcademicYearID
GO
